/* Exemple de style CSS basique */
body {
    font-family: 'Clash Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}


/* Navigation */
.div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.2rem;
    margin-bottom: 40px; 
}

.logo {
    width: 120px;
}

.div1 span a {
    margin: 0 15px;
    text-decoration: none;
    color: #333; 
    font-weight: bold;
    transition: color 0.3s ease;
}

.div1 span a:hover {
    color: #E82127;
}

.ix .icons, .ix .micons {
    width: 28px;
    margin-left: 20px;
}



a {
    text-decoration: none;
    color: #555;
    margin: 0 10px;
}

a:hover {
    color: #333;
}

.section-1 {
    background-color: #fff;
    padding: 20px;
}

.logo {
    width: 120px;
}

span {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.icons-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}

.icons {
    width: 25px;
    margin: 0 10px;
}

.section-2 {
    background-color: #f1f1f1;
    padding: 40px 0;
}

.parent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div4 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
}

h1.co {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.porter-section ul {
    list-style-type: disc;
    margin-left: 20px;
}

.porter-section {
    margin-bottom: 30px;
}

.porter-section img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

footer {
    padding: 10px;
    background-color: #f1f1f1;
    text-align: center;
    font-size: 0.9rem;
    color: #555;
}
