/* Importation de la police */
@import url('https://api.fontshare.com/v2/css?f[]=clash-grotesk@200&display=swap');

/* Réinitialisation des marges et paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Clash Grotesk', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Section générale */
.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navigation */
.div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    max-width: 1400px; 
    margin: 20px auto;
    position: fixed; 
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    font-size: 1.2rem;
    padding: 10px 20px; 
    z-index: 100; 
    background: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

.logo {
    width: 120px;
}

.div1 span {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.div1 span a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease;
}

.div1 span a:hover {
    color: #E82127;
}

.ix .icons, .ix .micons {
    width: 28px;
    margin-left: 20px;
}



/* Responsive Design */
@media screen and (max-width: 768px) {
    .div1 {
        flex-direction: column;
        padding: 15px;
    }

    .div1 span {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .ix {
        margin-top: 10px; 
    }
}

/* Section pour RSE layout */
.parent2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.div3, .div5 {
    flex: 1 1 45%; 
    margin: 10px;
}

.div4 {
    background-color: #f9f9f9;
    border: 2px solid #333;
    border-radius: 8px; 
    padding: 20px; 
    margin: 20px 0; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.responsive-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.co {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.fade-in-text b {
    font-size: 1.1rem;
}

/* Responsive Design pour petits écrans */
@media screen and (max-width: 768px) {
    .div1 {
        flex-direction: column;
        text-align: center;
    }

    .div1 span {
        margin-top: 10px;
    }

    .parent2 {
        flex-direction: column; /* Empilement vertical sur petits écrans */
        text-align: center;
    }

    .div3, .div5 {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    .co {
        font-size: 1rem;
    }
}


/* Add a horizontal line between sections */
.section-divider {
    border-top: 2px solid #333; 
    margin: 40px 0; 
    width: 100%; 
}



/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    font-size: 0.9rem;
    color: #555;
}
