/* Importation de la police */
@import url('https://api.fontshare.com/v2/css?f[]=clash-grotesk@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global */
body {
    font-family: 'Clash Grotesk', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #fafafa; 
}

/* Section principale */
.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

/* Navigation */
.div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.2rem;
    margin-bottom: 40px; 
}

.logo {
    width: 120px;
}

.div1 span a {
    margin: 0 15px;
    text-decoration: none;
    color: #333; 
    font-weight: bold;
    transition: color 0.3s ease;
}

.div1 span a:hover {
    color: #E82127;
}

.ix .icons, .ix .micons {
    width: 28px;
    margin-left: 20px;
}

/* Contenu de la section SWOT */
.parent2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.div3, .div5 {
    flex: 1 1 45%;
    margin: 20px;
}

.div4 {
    flex: 2 1 45%;
    margin: 20px;
    text-align: center;
}

.responsive-img {
    width: 70%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease; 
}

.responsive-img:hover {
    transform: scale(1.05); 
}

.co {
    font-size: 1.3rem; 
    line-height: 1.8; 
    color: #555; 
    text-align: justify;
    margin-top: 40px; 
    margin-bottom: 30px; 
    padding: 0 20px; 
}

.fade-in-text b {
    font-size: 1.2rem;
    color: #222; 
}

/* Section pour les Forces, Faiblesses, Opportunités, Menaces */
.strengths, .weaknesses, .opportunities-threats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px;
}

.strengths ul, .weaknesses ul, .opportunities-threats ul {
    list-style-type: none;
    color: #666; /* Softer text color */
}

.strengths .div3, .weaknesses .div5 {
    flex: 1 1 40%;
}

.opportunities-threats ul {
    width: 50%;
}

/* Responsive Design pour petits écrans */
@media screen and (max-width: 768px) {
    .parent2 {
        flex-direction: column;
        text-align: center;
    }

    .div3, .div5 {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    .co {
        font-size: 1.1rem;
        margin-top: 20px;
    }

    .strengths, .weaknesses, .opportunities-threats {
        flex-direction: column;
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    font-size: 1rem; 
    color: #666; 
    border-top: 1px solid #ddd; 
}
