/* Style général */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Section gauche */
.home-btn {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.logo {
  width: 100px;
  height: auto;
}

/* Section droite (menu) */
.right {
  position: relative;
}

/* Masquer l'input checkbox */
.menu-checkbox {
  display: none;
}

.menu-btn {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

/* Styles pour le menu déroulant */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Affiche le menu déroulant lorsque l'input checkbox est coché */
.menu-checkbox:checked + .menu-btn + .dropdown-content {
  display: block;
}
  
  /* Section principale */
  .hero {
    position: relative;
    background-image:url('./Miata1.png');
    background-repeat: no-repeat;
    background-color: black;
    background-position:top left;
    height: 100;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .overlay {
    padding:20px;
    border-radius: 10px;;
    height: 620px;
  }

  /* Ajouter une ombre au texte pour une meilleure lisibilité */
  .hero-title {
    font-size: 48px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Ombre du texte */
    justify-content: left;
  }

  /* Boutons dans la section principale */
  .hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: left;
  }

  .hero-btn {
    background-color: rgba(0, 0, 0, 0.6); /* Bouton légèrement transparent */
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
  }

  .hero-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .icon {
    width: 24px;
    position: relative;
    height: 24px;
    cursor: pointer;
  }
  