/* ===== GLOBAL STYLES ===== */
/* Applique la police 'Roboto' à tout le corps de la page */
body {
    font-family: 'Roboto', sans-serif;
}

/* Permet le défilement fluide lors de l'interaction avec les ancres */
html {
    scroll-behavior: smooth;
}

/* ===== HEADER ===== */
/* Style pour l'en-tête : disposition en ligne avec espacement entre les éléments */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

/* ===== SEARCH BAR ===== */
/* Définit la taille du logo de la barre de navigation */
.navbar-logo {
    width: 60px;
}

/* Style de la barre de recherche, avec un fond clair et un arrondi des coins */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 30px;
}

/* Style de l'input dans la barre de recherche : pas de bordure, fond transparent */
.search-bar input {
    border: none;
    background: transparent;
    padding: 0 10px;
}

/* ===== ICONS ===== */
/* Taille et position des icônes */
.icon {
    width: 100px;
    position: relative;
    height: 100px;
    cursor: pointer;
}

/* Taille de l'icône de loupe */
.loupe {
    width: 30px;
    height: auto;
}

/* ===== HERO SECTION ===== */
/* Style de la section héro : fond d'écran et disposition en flex */
.hero-section {
    position: relative;
}

.hero {
    position: relative;
    background-image: url('Miata1.jpg');
    background-repeat: no-repeat;
    background-color: black;
    background-position: top left;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}

/* ===== HERO TITLE & BUTTONS ===== */
/* Style de l'overlay, avec du padding et une hauteur spécifique */
.overlay {
    padding: 20px;
    border-radius: 10px;
    height: 620px;
}

/* Style du titre dans la section héro : grande taille de police et ombre portée */
.hero-title {
    font-size: 48px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    justify-content: left;
}

/* Disposition des boutons sous le titre */
.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: left;
}

/* Style des boutons : fond sombre avec arrondi et effets au survol */
.hero-btn {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

/* Effet de survol des boutons (changement de couleur) */
.hero-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* ===== MENU DROPDOWN ===== */
/* Cache l'input checkbox pour le menu déroulant */
.menu-dropdown input[type="checkbox"] {
    display: none;
}

/* Style du menu déroulant avec positionnement relatif */
.menu-dropdown {
    position: relative;
    display: inline-block;
}

/* Style du menu déroulant qui apparaît quand le checkbox est coché */
.menu-dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 200px;
}

/* Style des liens dans le menu déroulant */
.menu-dropdown .menu-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* Effet de survol des liens du menu (changement de couleur de fond et texte) */
.menu-dropdown .menu-link:hover {
    background-color: #f5f5f5;
    color: #e63946;
}

/* Affiche le menu lorsque le checkbox est coché */
.menu-dropdown input[type="checkbox"]:checked ~ .dropdown-menu {
    display: block;
}

/* ===== MAIN SECTION ===== */
/* Style de la section principale avec une disposition en flex */
.main-section {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

/* Contrôle de la taille de l'image principale dans la section */
.main-image {
    max-width: 50%;
}

/* ===== ABOUT SECTION ===== */
/* Disposition de la section à propos, centrée en flex */
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
}

/* Disposition des cartes dans la section à propos */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}

/* ===== CARD STYLES ===== */
/* Style des cartes : sans bordure, avec ombre et transition lors du survol */
.cards a {
    text-decoration: none;
    color: inherit;
    display: block;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
    padding: 20px;
}

/* Effet de survol des cartes : translation vers le haut */
.cards a:hover {
    transform: translateY(-10px);
}

/* Style des images dans les cartes : s'adaptent à la taille du parent */
.cards a img {
    width: 100%;
    height: auto;
}

/* Style du titre des cartes */
.cards a h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

/* Style du texte des cartes */
.cards a p {
    padding: 0 20px;
    font-size: 1rem;
    color: #555;
}

/* Style du texte en bas de chaque carte */
.cards a span {
    display: inline-block;
    margin-top: 20px;
    color: #e63946;
    font-weight: bold;
}

/* ===== INDIVIDUAL CARD STYLES ===== */
/* Style général des cartes individuelles */
.card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

/* Style des images dans les cartes individuelles */
.card img {
    width: 100%;
    height: auto;
}

/* Style des titres dans les cartes individuelles */
.card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

/* Style du texte dans les cartes individuelles */
.card p {
    padding: 0 20px;
    font-size: 1rem;
    color: #555;
}

/* Style des liens dans les cartes individuelles */
.card a {
    display: inline-block;
    margin: 20px 0;
    color: #e63946;
    text-decoration: none;
}

/* Style des images dans les liens des cartes */
.card a img {
    margin-left: 5px;
}

/* Effet de survol des cartes individuelles */
.card:hover {
    transform: translateY(-10px);
}

/* ===== TABLE SECTION ===== */
/* Style de la section des tableaux : padding et texte centré */
.table-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

/* Style du titre de la section du tableau */
.table-section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Style des tableaux : largeur à 100% et bordures fusionnées */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Style des cellules du tableau : padding et bordures */
th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Style des entêtes de tableau : fond coloré et texte plus grand */
th {
    background-color: #e63946;
    font-size: 1.1rem;
    color: #333;
}

/* Style des cellules de tableau */
td {
    background-color: #fff;
    font-size: 1rem;
    color: #555;
}

/* ===== FOOTER ===== */
/* Style du pied de page : fond blanc et padding */
.footer {
    background-color: #fff;
    padding: 40px;
    font-size: 14px;
}

/* Taille du logo du pied de page */
.footer-logo {
    width: 60px;
}

/* Disposition du contenu du pied de page */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

/* Style des informations du pied de page */
.footer-info {
    display: flex;
    flex-direction: column;
}

/* Disposition des liens du pied de page */
.footer-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Style des liens dans le pied de page */
.footer-links a {
    text-decoration: underline;
}

/* Style des liens de contact */
.contact a {
    text-decoration: underline;
}

/* Style des liens sociaux dans le pied de page */
.social-links {
    display: flex;
    gap: 12px;
}

/* Taille des icônes sociales */
.social-links img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Style du logo des liens sociaux */
.social-links-logo {
    width: 24px;
    position: relative;
    height: 24px;
    cursor: pointer;
}

/* ===== RSE SECTION STYLES ===== */
/* Style de la section RSE : padding et fond clair */
#rse-section {
    padding: 40px;
    background-color: #f9f9f9;
}

/* Disposition des cartes RSE : espacement et centrage */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Espacement entre les cartes */
    justify-content: center; /* Centre les cartes si l'espace est insuffisant */
    margin-top: 20px;
}

/* Style des cartes RSE */
.cards .card {
    width: 45%; /* Ajuste la largeur des cartes */
    max-width: 500px; /* Largeur maximale pour éviter que les cartes ne deviennent trop larges */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 20px;
}

/* Effet de survol des cartes */
.cards .card:hover {
    transform: translateY(-5px);
}

/* Style du titre dans les cartes */
.card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

/* Style du texte dans les cartes */
.card p {
    font-size: 1rem;
    color: #555;
}

/* Style du lien dans les cartes */
.card a {
    display: inline-block;
    margin: 20px 0;
    color: #e63946;
    text-decoration: none;
}

/* Style des images dans les liens des cartes */
.card a img {
    margin-left: 5px;
}

/* Effet de survol des cartes */
.card:hover {
    transform: translateY(-10px);
}
