body {
    font-family: 'Roboto', sans-serif;
}

.footer {
    background-color: #fff;
    padding: 40px;
    font-size: 14px;
}

.footer-logo {
    width: 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.contact a {
    text-decoration: underline;
}

.social-links {
    display: flex;
    gap: 12px;
}

.social-links img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-links a {
    text-decoration: underline;
}

.main-section, .about-section, .hero-section {
    padding: 40px;
}

.main-section {
    display: flex;
    justify-content: space-between;
}

.main-image {
    max-width: 50%;
}
  
/* Section des cartes */
.about-section {
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    flex-direction: column; /* Empile les éléments verticalement */
    text-align: center;
    padding: 50px 20px;
}

.cards {
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    gap: 20px; /* Espace entre les cartes */
    flex-wrap: wrap; /* Les cartes passent à la ligne si l'espace est insuffisant */
}

.card {
    background-color: #f9f9f9; /* Couleur de fond des cartes */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre */
    overflow: hidden; /* Cache les débordements (utile pour les images) */
    width: 300px; /* Largeur fixe pour chaque carte */
    text-align: center;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%; /* L'image occupe la largeur complète */
    height: auto; /* Conserve le ratio de l'image */
}

.card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.card p {
    padding: 0 20px;
    font-size: 1rem;
    color: #555;
}

.card a {
    display: inline-block;
    margin: 20px 0;
    color: #e63946;
    text-decoration: none;
}

.card a img {
    margin-left: 5px; 
}

.card:hover {
    transform: translateY(-10px); /* Légère élévation au survol */
}

.hero-section {
    position: relative;
}

/* Section principale */
.hero {
    position: relative;
    background-image:url('./Miata1.png');
    background-repeat: no-repeat;
    background-color: black;
    background-position:top left;
    height: 100;
    color: white;
    display: flex;
    align-items: center;
}
  
  .overlay {
    padding:20px;
    border-radius: 10px;;
    height: 620px;
}

  /* Ajouter une ombre au texte pour une meilleure lisibilité */
  .hero-title {
    font-size: 48px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Ombre du texte */
    justify-content: left;
}

  /* Boutons dans la section principale */
  .hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: left;
}

  .hero-btn {
    background-color: rgba(0, 0, 0, 0.6); /* Bouton légèrement transparent */
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

  .hero-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  .icon {
    width: 100px;
    position: relative;
    height: 100px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 30px;
}

.search-bar input {
    border: none;
    background: transparent;
    padding: 0 10px;
}

.navbar-logo {
    width: 60px;
}

.social-links-logo {
    width: 24px;
    position: relative;
    height: 24px;
    cursor: pointer;
}



.container {
    display: flex;
    flex-direction: column; /* Organise les groupes verticalement */
    margin: 20px;
}

.group {
    display: flex; /* Aligner les éléments horizontalement */
}

.case {
    width: 50%; /* Taille de la boîte carrée */
    height: 750px; /* Hauteur identique pour former un carré */
    background-color: #f0f0f0; /* Couleur de fond */
    border: 2px solid black; /* Bordure de la boîte */
    border-radius: 5px; /* Coins légèrement arrondis (facultatif) */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.image {
    width: 50%; /* Taille de l'image carrée */
    height: 750px; /* Hauteur identique pour former un carré */
    border: 2px solid #ccc; /* Bordure autour de l'image */
    border-radius: 5px; /* Coins arrondis (facultatif) */
    object-fit: cover; /* Assure un contenu bien ajusté dans le carré */
}
