* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0078ff;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: #0078ff;
    padding: 10px 20px;
}

h1 {
    color: #000;
    height: 50px;
    text-align: center;
    font-size: 2rem;
    margin: 10px;
    width: 100%;
}

.logo {
    display: inline-block;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.logo img {
    height: 80px;
    display: block;
    margin: 0 auto;
}

.banner {
    display: flex;
    align-items: left;
    gap: 15px;
    width: 100%;
    overflow: hidden;
    border-radius: 50px;
}

.banner li {
    list-style: none;
}

.banner li img {
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.banner li img:hover {
    transform: scale(1.1);
}

nav ul.banner {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

footer img {
    height: 100px;
    align-items: left;
    margin-top: 50px;
}

footer .r_sociaux img {
    height: 30px;
    margin: 0 10px;
    margin-top: 0;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

footer .r_sociaux img:hover {
    transform: scale(1.1);
}

.footer-lien {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
}

.footer-lien ul a {
    color: #fff;
    text-decoration: none;
}

footer p {
    font-size: 0.8em;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

footer .language {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer .language select {
    background-color: #444;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.a_propos ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
    margin: 10px auto;
    cursor: pointer;
}

.menu-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.sous_menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    z-index: 10;
}

.sous_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sous_menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.sous_menu ul li:last-child {
    border-bottom: none;
}

.sous_menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    text-align: left;
}

.sous_menu ul li a:hover {
    background-color: #eee;
}

.menu-container:focus-within .sous_menu,
.menu-container:hover .sous_menu {
    display: block;
}

.pestel-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2px;
    margin-bottom: 30px;
}

.pestel-item {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    min-height: 300px;
}

.pestel-item h2 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    font-size: 1.2em;
}

.pestel-item p {
    font-size: 0.9em;
    line-height: 1.4;
    margin-bottom: 10px;
}

.center {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        width: 100%;
        margin-bottom: 10px;
    }

    .banner li img {
        height: 40px;
    }

    nav ul.banner {
        justify-content: flex-end;
        margin-right: 10px;
    }

    nav ul.banner li img {
        height: 50px;
    }

    .pestel-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .histoire {
        margin: 20px;
        padding: 10px;
    }

    .center {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .logo img {
        height: 40px;
    }

    .banner li img {
        height: 30px;
    }

    nav ul.banner {
        justify-content: flex-end;
        margin-right: 5px;
    }

    nav ul.banner li img {
        height: 40px;
    }

    footer img {
        height: 40px;
    }

    footer .r_sociaux img {
        height: 20px;
    }

    .pestel-grid {
        grid-template-columns: 1fr;
    }

    .center {
        max-width: 95%;
    }
}