/* Importation de la police */
@import url('https://api.fontshare.com/v2/css?f[]=clash-grotesk@200&display=swap');

/* Réinitialisation des marges et paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Clash Grotesk', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #f5f5f5, #eaeaea); 
 
}

/* Container to limit content width */
.container {
    max-width: 1400px; 
    margin: 0 auto;
}

.section {
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto;
    min-height: 70vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px; 
}

/* Section 1 (Background image) */
.section-1 {
    position: relative;
    width: 100%;
    height: 90vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('your-background-image.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Navigation */
.div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    max-width: 1400px; 
    margin: 20px auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    padding: 10px 20px;
    z-index: 100; 
    background: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

.logo {
    width: 120px;
}

.div1 span {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.div1 span a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease;
}

.div1 span a:hover {
    color: #E82127;
}

.ix .icons, .ix .micons {
    width: 28px;
    margin-left: 20px;
}








/* Section 2 (RSE) */
.parent2, .parent3, .parent4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px; /* Reduced padding for closer spacing */
    max-width: 1400px; /* Match new container width */
    margin: 0 auto;
}

.div3, .div6 {
    flex: 1 1 48%; /* Slightly increased space for content */
    margin: 10px;
}

.div3 h1, .div6 h1 {
    font-size: 2.5rem;
    color: #E82127;
}

.co, .co2 {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 10px;
    color: #333;
}

.div4, .div5 {
    flex: 1 1 48%; /* Adjusted layout width */
}

.responsive-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.responsive-img:hover {
    transform: scale(0.95);
}

/* Section 4 (Porter) */
.container {
    position: relative;
    text-align: center;
    color: white;
}

.end {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.centered {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
}

.endan {
    text-decoration: none;
    color: white;
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.endan:hover {
    background-color: #B4171F;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .div1 {
        flex-direction: column;
        text-align: center;
    }

    .div1 span {
        margin-top: 10px;
    }

    .parent2, .parent3 {
        flex-direction: column;
        text-align: center;
    }

    .div3, .div4, .div5, .div6 {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    .co, .co2 {
        font-size: 1rem;
    }

    .centered {
        font-size: 1.5rem;
    }
}

/* Ultra-Wide Screens */
@media screen and (min-width: 1920px) {
    .section {
        max-width: 1600px; /* Wider sections for ultra-wide screens */
        padding: 40px 20px;
    }

    .div1 span a {
        font-size: 1.5rem;
    }

    .div3 h1, .div6 h1 {
        font-size: 3rem;
    }

    .co, .co2 {
        font-size: 1.2rem;
    }

    .responsive-img {
        border-radius: 15px;
    }
}
