* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: 'frutiger';
    src: url('/police/FrutigerLTCom-Roman.ttf');
}


body{
    font-family: 'frutiger',Arial, Helvetica, sans-serif;
}
.menu{
    font-size: 20px;
    font-family: 'frutiger',Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 16px;
    padding-right: 70px;
    padding-left: 70px;

}
.menu .active { 
    color: red; 
    transition: transform 0.3s ease;                 
          
}

.menu .active:hover {    
    transform: scale(1.1);          
}
                                        

.liens{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    
}
.menu a, .sources a {                 
    display: inline-block;
}

.menu a:not(.logo)::after {
    content: "";
    width: 0%;
    height: 3px;
    display: block;
    background: red;
    transition: width 0.2s ease-in-out;  
}
.menu a:not(.logo):hover::after{   
    cursor: pointer;
    color: red;
   width: 100%;       
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left:10%;
    padding-right:10%;
    padding-bottom:5%;
    padding-top:2%;
    gap: 32px;
    vertical-align: center;
}
h3{
    text-decoration-line: underline;
}
.presentation{
    display: flex;
    flex-direction: row;
}

.presentation > article {
   background-color: #8B6E61;
   color: white;
   display: flex;
   flex-direction: column;
   padding: 30px;
   font-size: 18px;
   gap: 20px;
   line-height: 32px;

}

.imageaccueil1{
    width: 100%;
    animation: fadeIn 0.5s ease-in forwards;   /*retirer si besoin*/
}

footer {
    font-family: 'frutiger',Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #303030;
    color: white;
    padding: 60px;
    display: flex;
    align-items: center;
}

.foot1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.foot2{
    display: flex;
    align-items: left;
    padding-left: 28%;
    

}

.foot3{
    display: flex;
    align-items: right;
    padding-left: 33%;
}
.media{                                           
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.media-icon{
   display: inline-block;
   width: 30px;
   height: 30px;
}

.media-icon img{
    object-fit: contain;
    width: 100%;
    height: 100%;

}


/*/bouton vers le haut/*/
html {
    scroll-behavior: smooth;
}

.btn{
    position: fixed;
    background: white;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: black;
    border-radius: 50% ;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

/*effet de fondu*/

.fade-in  {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
