body {
    background-color: rgb(5,104,53);
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
}

header {
    background-color: white;
    display :flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: 'Trebuchet MS';
    
    
}

.footer{
    display:flex;
    flex-direction:row;
    color:white;
    background-color:rgb(246,253,233);
}



.Contact{
    width:40%;
    margin-left: -20%;
    
}




nav{
    margin-left: 2%;
    width:45%;
}

.reseaux{
    width:15%;
    margin-top: 3%;
    margin-left:35%;
}


.pFooter{
    color:black;
    font-family: 'Trebuchet MS';
    font-size:22px;
    line-height: 32px;
}


table {
    table-layout:fixed;
    width: 80%;
    border-collapse: collapse;
    border: 3px solid black;
    margin-bottom: 10%;
}


td{
    font-family: 'Trebuchet MS';
    color: black;
    padding:20px;
    letter-spacing: 1px;
    text-align: center;
    
}


#titre{
    font-family: 'Trebuchet MS';
    font-weight: bold;
    color:black;
    font-size: 26px;
}

tbody tr:nth-child(odd) {
    background-color: rgb(246,253,233);
}
  
tbody tr:nth-child(even) {
    background-color: white;
}

#customlink{
    text-decoration:none;
}

.menu-item{
    position:relative;
}

.sousmenu{
    display: none;
    position: absolute;
    top:150%;
    left:0;
    width: 100%;
    background-color: rgb(246,253,233);
    list-style: none;
    margin:0;
    padding:0;
    border-radius: 15px;

}

.menu-item:hover .sousmenu{
    display:block;
}

.sousmenu li a{
    display:block;
    padding: 12px 18px;
    color:black;
    text-decoration: none;
    font-weight: normal;
}

.sousmenu li a:hover{
    background-color: rgb(5,104,53);
}

.nav-list{
    padding: 0px 20px;
}

.nav{
    flex-grow: 1;
    text-align: center;
    
}

.nav-list{
    list-style: none;
    margin: 0;
    padding :0;
    display:inline-flex;
    gap:200px;
    font-weight: bold;

}

.nav-list li a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 12px 18px;
    border-radius: 15px;


}

.nav-list li a:hover{
    background-color: rgb(246,253,233);
    border:3px solid black;
    text-shadow: 3px 3px 8px rgba(211,211,211,0.8);
    transition: background-color 0.5s;
}

.footer{
    display:flex;
    flex-direction:row;
    color:white;
    background-color:rgb(246,253,233);
}

p{
    font-family: 'Trebuchet MS';
    font-size: 40px;
    color:white;
    
}

.boite1{
    display:flex;
    margin-top:80px;
    flex-direction: column;
    align-items: center;
}
