body {
    background-color: rgb(5,104,53);
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
}

.page{
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    display :flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: 'Trebuchet MS';
    
    
}



.boite3{
    display:flex;
    justify-content: space-between;
    text-align:justify;
    gap:15%;
    width: 100%;
    
}


.images{
    border-radius: 8px;
}

.navigation{
    width:50%;
}

.aside2{
    width:50%;
    margin-right:5%;
}

.placement{
    font-size: 28px;
    margin-left: 40px;
}

.pAside2{
    font-size: 28px;
    margin-left: 40px;
}

figcaption{
    font-family: 'Trebuchet MS';
    color: white;
    font-style: italic;
}

.boite2{
    display: flex;
    justify-content: space-between;
    text-align:justify;
    gap:15%;
    width:100%;
    margin-top: 5%;;
    
  
}


p{
    color: white;
    font-family: 'Trebuchet MS';
    
}



.navRSE{
    text-align: center;
}

.boite1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#pBoite1{
    font-family: 'Trebuchet MS';
    color: white;
    margin-top: -100px;
    font-size: 34px;
    
    
}




#customlink{
    text-decoration:none;
}

.menu-item{
    position:relative;
}

.sousmenu{
    display: none;
    position: absolute;
    top:150%;
    left:0;
    width: 100%;
    background-color: rgb(246,253,233);
    list-style: none;
    margin:0;
    padding:0;
    border-radius: 15px;

}

.menu-item:hover .sousmenu{
    display:block;
}

.sousmenu li a{
    display:block;
    padding: 12px 18px;
    color:black;
    text-decoration: none;
    font-weight: normal;
}

.sousmenu li a:hover{
    background-color: rgb(5,104,53);
}

.nav-list{
    padding: 0px 20px;
}

.navMenu{
    flex-grow: 1;
    text-align: center;
    
}

.nav-list{
    list-style: none;
    margin: 0;
    padding :0;
    display:inline-flex;
    gap:200px;
    font-weight: bold;

}

.nav-list li a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 12px 18px;
    border-radius: 15px;


}

.nav-list li a:hover{
    background-color: rgb(246,253,233);
    border:3px solid black;
    text-shadow: 3px 3px 8px rgba(211,211,211,0.8);
    transition: background-color 0.5s;
}


.footer{
    display:flex;
    flex-direction:row;
    color:white;
    background-color:rgb(246,253,233);
}


.Contact{
    width:40%;
    margin-left: -20%;
    
}




nav{
    margin-left: 2%;
    width:45%;
}

.reseaux{
    width:15%;
    margin-top: 3%;
    margin-left:35%;
}


.pFooter{
    color:black;
    font-family: 'Trebuchet MS';
    font-size:22px;
    line-height: 32px;
}

.ancre{
    
    font-family: 'Trebuchet MS';
    font-size:20px;
    color: white;
    margin-left:1%;
    
    
    
}