@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Forum&family=Nobile:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #536942;
  --secondary: #4fbdba;
  --white: #efefef;
}

body {
  font-family: "DM Sans", sans-serif;
  color: var(--primary);
  line-height: 1.6;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("img/scrub-daddy.jpg");
  background-position: bottom center;
  background-size: cover;
  color: var(--white);
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary);
  padding: 0 20px;
  height: 88px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label.logo {
  font-size: 25px;
  font-weight: bold;
  color: var(--white);
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-list a {
  color: var(--white);
  text-decoration: none;
}

.nav-list a.active {
  font-weight: bold;
}

.main-content {
  padding: 100px 20px;
}

.main-content h1 {
  margin-bottom: 10px;
}

.main-content .intro-heading {
  font-size: 50px;
}

.main-content .main-heading {
  font-size: 100px;
}

.main-content p {
  max-width: 300px;
  margin: 20px auto;
}
nav ul li a {
  color: #fafafa;
  font-size: 16px;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 3px;
  transition: background 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
  background: #296967;
  transform: scale(1.05);
}
.btn-primary {
  padding: 12px 20px;
  background: var(--secondary);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease; /* Suaviza a transição de cor */
}

.btn-primary:hover {
  background-color: #226b65; /* Cor ligeiramente mais escura */
  transform: scale(1.05);
}

.section-title h1 {
  font-size: 40px;
  text-align: center;
}

.section-title .line {
  width: 150px;
  height: 4px;
  background: var(--secondary);
  margin: 10px auto;
}

.services {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.service {
  text-align: center;
  max-width: 350px;
}

.service img {
  max-width: 100%;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.service:hover img {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .main-content .intro-heading {
    font-size: 30px;
  }

  .main-content .main-heading {
    font-size: 70px;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }
}

#services {
  margin-top: 120px; /* Aumenta a distância entre o header e a seção services */
  margin-bottom: 120px;
}

#testimonial {
  background: #f1f2fa;
}

#testimonial .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px; /* Aumenta a largura máxima para um visual mais equilibrado */
  gap: 30px;
  padding: 50px 20px; /* Ajuste o padding para melhorar o layout */
  margin: 0 auto; /* Centraliza o conteúdo */
}

#testimonial h1 {
  font-size: 30px;
  font-family: "Forum", sans-serif;
  text-align: center;
  max-width: 600px; /* Limita a largura do texto */
}

#testimonial .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-us {
  padding: 80px 20px; /* Espaçamento superior e inferior */
  background-color: #f9f9f9; /* Fundo suave para destaque */
}

#about-us .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Torna a seção responsiva */
  gap: 40px; /* Espaçamento entre os elementos */
  max-width: 1200px;
  margin: 0 auto; /* Centraliza a seção */
}

#about-us .about-content {
  max-width: 600px; /* Limita a largura do texto */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#about-us .about-content h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary);
  text-transform: uppercase;
  letter-spacing: 2px;
}

#about-us .about-content h1 {
  font-family: "Forum", sans-serif;
  font-size: 28px;
  line-height: 1.4;
}

#about-us .about-content p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary);
}

#about-us .about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Bordas arredondadas para estética */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.values-section {
  margin: 60px 0;
}

.values-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.mini-title {
  text-align: center;
  margin-bottom: 40px; /* Espaço entre o título e as análises */
}

.mini-title h4 {
  font-size: 28px;
  font-family: "Forum", sans-serif;
  color: var(--primary);
  margin-bottom: 10px;
}

.mini-title p {
  font-size: 16px;
  color: var(--primary);
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

.analyses-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Espaço entre os cartões das análises */
}

.value-card {
  background-color: #fff;
  width: 100%;
  max-width: 354px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative; /* Necessário para manipulação do texto */
}

.value-card:hover {
  background-color: var(--secondary);
  color: #fafafa;
  transform: translateY(-10px);
}

.value-card h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 10px;
  transition: color 0.3s ease;
  text-align: center; /* Centraliza o título */
}

.value-card .definition {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--primary);
  opacity: 0; /* Esconde inicialmente */
  visibility: hidden; /* Remove do fluxo visual */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Suavidade na transição */
}

.value-card:hover .definition {
  opacity: 1; /* Torna visível no hover */
  visibility: visible; /* Reaparece no fluxo visual */
  color: #fff; /* Altera a cor para melhor contraste */
}

/* Estilização da seção QUESTIONS */
#questions {
  padding: 80px 20px;
  background-color: #f1f5f8; /* Cor de fundo mais suave */
  color: #333; /* Cor de texto mais escura para melhor contraste */
  text-align: center;
  border-radius: 10px; /* Bordas arredondadas para suavizar o visual */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra leve para dar profundidade */
}

#questions h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #2c3e50; /* Cor mais forte para o título */
  letter-spacing: 1px; /* Espaçamento das letras para dar mais destaque */
}

#questions {
  padding: 80px 20px;
  background-color: #f9f9f9; /* Cor de fundo mais suave */
  color: var(--primary); /* Cor de texto mais escura para melhor contraste */
  text-align: center;
  border-radius: 10px; /* Bordas arredondadas para suavizar o visual */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra leve para dar profundidade */
}

#questions h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--secondary);
  font-weight: bold;
  text-transform: uppercase;
}

#questions p {
  font-size: 1.1rem;
  line-height: 1.8;
  max-width: 650px;
  margin: 0 auto 30px; /* Aumentar o espaçamento inferior */
  color:var(--primary) /* Cor de texto mais suave para o parágrafo */
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 40px; /* Espaçamento entre os itens */
  margin-top: 30px;
}

.contact-item {
  text-align: left; /* Alinha o texto à esquerda */
}

.contact-item p {
  font-size: 1rem;
  margin: 5px 0;
  color: #333; /* Cor para os itens */
  font-weight: 500;
}

.contact-item p:hover {
  color: #4e73df; /* Cor de destaque no hover */
  cursor: pointer; /* Mostrar que o item é clicável */
}


/* Estilização do Footer */
footer {
  background-color: var(--secondary);
  color: var(--white);
  padding: 40px 20px;
  text-align: center;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

footer .footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

footer .footer-links li {
  display: inline-block;
}

footer .footer-links a {
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

footer .footer-links a:hover {
  color: var(--secondary);
}

footer .footerLogo {
  max-width: 150px;
  height: auto;
  margin: 0 auto;
}

footer p {
  font-size: 0.9rem;
  font-weight: 400;
}

@media (max-width: 858px) {
  /* Ajuste geral do corpo */
  body {
    padding: 0 10px; /* Reduz margens para telas menores */
  }

  /* Ajustes no Header */
  header {
    background-position: center;
    padding: 50px 10px; /* Ajusta o espaçamento interno */
  }

  header .intro-heading {
    font-size: 24px;
  }

  header .main-heading {
    font-size: 50px;
  }

  nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .nav-list a {
    font-size: 1rem; /* Ajuste do tamanho das fontes */
  }

  /* Ajustes na seção SERVICES */
  .services {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .service {
    max-width: 100%;
    margin: 0 auto;
  }

  /* Seção ABOUT US */
  #about-us .container {
    flex-direction: column; /* Ajusta para uma única coluna */
    text-align: center;
    gap: 20px;
  }

  #about-us .about-content h1 {
    font-size: 22px;
  }

  #about-us .about-content p {
    font-size: 14px;
  }

  #about-us .about-image img {
    width: 100%;
    height: auto;
  }

  /* Seção TESTIMONIAL */
  #testimonial .container {
    padding: 30px 10px;
  }

  #testimonial h1 {
    font-size: 22px;
  }

  /* Seção QUESTIONS */
  #questions h1 {
    font-size: 24px;
  }

  #questions p {
    font-size: 16px;
  }

  /* Footer */
  footer .container {
    gap: 10px;
  }

  footer .footer-links {
    flex-direction: column; /* Empilha os links no footer */
    gap: 10px;
  }

  footer .footerLogo {
    max-width: 100px; /* Reduz o tamanho do logotipo */
  }

  /* Cartões de Análise */
  .analyses-container {
    flex-direction: column;
    gap: 20px;
  }

  .value-card {
    max-width: 100%;
  }

  .value-card h3 {
    font-size: 1.2rem;
  }

  .value-card .definition {
    font-size: 0.9rem;
  }
}
