/* Début Survol spécifique pour le lien SWOT */
#pestel-link {
    position: relative;
    color: #D7A53F;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
}
#pestel-link:hover {
    color: #0b3e27;
}

#logo-item a::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #0b3e27;
    margin: 5px auto 0;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    visibility: visible;
    opacity: 1;
}

#pestel-link.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) scaleX(1);
    transform-origin: center;
    width: 50px;
    height: 2px;
    background-color: #D7A53F;
    transition: transform 0.3s ease;
}

#pestel-link:hover::after {
    transform: translateX(-50%) scaleX(1.2);
}
/* Fin Survol spécifique pour le lien SWOT */

/* Début Section principale */
.pestel-section {
    margin: 10vh auto;
    color: #D7A53F;
    font-family: 'Cinzel', serif;
    padding: 40px;
    border-radius: 10px;
    max-width: 1200px;
}

.pestel-header h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.pestel-header p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    font-family: 'EB Garamond', serif;
}

.pestel-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pestel-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.pestel-letter {
    background: #0B3E27;
    color: #D7A53F;
    font-size: 36px;
    font-weight: bold;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #D7A53F;
    border-radius: 5px;
    text-transform: uppercase;
}

.pestel-text {
    background: #D7A53F;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    line-height: 1.6;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Fin Section principale */

/* Début Section Étude des concurrents */
.competitor-study {
    margin-top: -20vh;
    padding: 100px;
}

.competitor-header h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #D7A53F;
    border-bottom: 2px solid #D7A53F;
    display: inline-block;
    padding-bottom: 5px;
}

.competitor-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'EB Garamond', serif;
}

.competitor-table th,
.competitor-table td {
    border: 2px solid #D7A53F;
    padding: 15px;
    text-align: left;
    vertical-align: top;
}

.competitor-table th {
    background: #0B3E27;
    color: #D7A53F;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

.competitor-table td {
    background: rgba(215, 165, 63, 0.1);
    color: #fff;
    font-size: 14px;
}

.competitor-table td[colspan="2"] {
    text-align: center;
    font-style: italic;
    background: rgba(215, 165, 63, 0.2);
    font-weight: bold;
}

.competitor-table th[rowspan="2"] {
    vertical-align: middle;
}

.brand-name {
    font-weight: bold;
    font-size: 16px;
    color: #D7A53F;
    text-align: center;
}

.competitor-table ul {
    padding-left: 20px;
    margin: 0;
}

.competitor-table ul li {
    margin-bottom: 5px;
}

.competitor-table .note {
    text-align: center;
    background: #D7A53F;
    color: #0B3E27;
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
}
/* Fin Section Étude des concurrents */
