/* Début Preloader CSS */
.handle-preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  animation: hidePreloader 6s forwards;
}

.handle-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}

.handle-preloader .animation-preloader .spinner {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 45px auto;
  border: 3px solid #ffffff;
  position: relative;
}

.handle-preloader .animation-preloader .spinner img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: rotateImage 3s linear 1 forwards;
}

.handle-preloader .animation-preloader .txt-loading {
  text-align: center;
  user-select: none;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 70px;
  line-height: 70px;
  font-weight: 600;
  letter-spacing: 15px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.30);
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:before {
  position: absolute;
  top: 0;
  left: 0;
  animation: letters-loading 4s infinite;
  content: attr(data-text-preloader);
  opacity: 0;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before { animation-delay: 0.2s; }
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before { animation-delay: 0.4s; }
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before { animation-delay: 0.6s; }
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before { animation-delay: 0.8s; }
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before { animation-delay: 1s; }
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before { animation-delay: 1.2s; }
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before { animation-delay: 1.4s; }

.handle-preloader .animation-preloader .txt-loading .letters-loading:before {
  color: #ffffff;
}
/* Fin Preloader CSS */

/* Début Animations */
@keyframes rotateImage {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(180deg); }
}

@keyframes letters-loading {
  0%, 75%, 100% { opacity: 0; transform: rotateY(-90deg); }
  25%, 50% { opacity: 1; transform: rotateY(0deg); }
}

@keyframes hidePreloader {
  0% { opacity: 1; visibility: visible; }
  100% { opacity: 0; visibility: hidden; }
}

@keyframes fadeOut {
  0% { opacity: 1; visibility: visible; }
  100% { opacity: 0; visibility: hidden; }
}
/* Fin Animations */

/* Début Loader Wrap */
.loader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b3e27;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  animation: fadeOut 6s forwards;
}

.content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 0s linear 1s;
}

.loader-wrap + .content {
  opacity: 1;
  visibility: visible;
  transition: opacity 6s ease;
}
/* Fin Loader Wrap */
