* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}


.menu{
    font-family: 'frutiger',Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    padding: 16px;
    padding-right: 70px;
    padding-left: 70px;
}

.menu .active {
    color: red;  
    transition: transform 0.3s ease; 
}

.menu .active:hover {    
    transform: scale(1.1);              
}

.menu a:not(.logo)::after{   
    content: "";
    width: 0%;
    height: 3px;
    display: block;
    background: red;
    transition: width 0.2s ease-in-out;    
}

.menu a:not(.logo):hover::after{   
    cursor: pointer;
    color: red;
   width: 100%;       
}

.liens{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.menu a, .sources a {                     
    display: inline-block;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: letf;
    align-items: left;
    padding: 10%;
    gap: 32px;
    vertical-align: center;
}

article{
    margin-top: 50px;
    margin-bottom: 100px;
  
}

article a:hover{   
    cursor: pointer;
    text-decoration: underline;
}

footer {
    font-family: 'frutiger',Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #303030;
    color: white;
    padding: 60px;
    display: flex;
    align-items: center;
    
}

.foot1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.foot2{
    display: flex;
    align-items: left;
    padding-left: 28%;
    

}

.foot3{
    display: flex;
    align-items: right;
    padding-left: 33%;
    
}


body{
    font-family: 'frutiger',Arial, Helvetica, sans-serif;
    background-color: #FAFFE8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}


.SOURCES{
    text-align: left;
    font-size: large;
    margin-left: 50px;
    
    
}

h1{
    padding: 20px;

}


.media{                                           
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.media-icon{
   display: inline-block;
   width: 30px;
   height: 30px;
}

.media-icon img{
    object-fit: contain;
    width: 100%;
    height: 100%;

}

/*/bouton vers le haut/*/
html {
    scroll-behavior: smooth;
}

.btn{
    position: fixed;
    background: white;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: black;
    border-radius: 50% ;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

/*effet fondu */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}