* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'frutiger';
    src: url('/police/FrutigerLTCom-Roman.ttf');
}

.imageaccueil{
    width: 100%;
    animation: fadeIn 0.5s ease-in forwards;
}

.menu{
    font-family: 'frutiger',Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    padding-right: 70px;
    padding-left: 70px;
}

.menu .active {  
    color: red;       
}

.menu .active:hover {    
    transition: all 0.4s ease;
    transform: scale(1.1);              
}

body {
    font-family: 'frutiger',Arial, Helvetica, sans-serif;
    background-color: #D3C1C1;
}

.liens{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.menu a, .sources a {                       
    display: inline-block;
}

.menu a:not(.logo)::after{   
    content: "";
    width: 0%;
    height: 3px;
    display: block;
    background: red;
    transition: width 0.2s ease-in-out;  
}

.menu a:not(.logo):hover::after{   
    cursor: pointer;
    color: red;
   width: 100%;       
}

.presentation {
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    margin-top: 19px;
}

h1 {
    font-size: 2rem;
    margin: 2rem auto 1rem;
    line-height: 1;
}

h2 {
    font-size: 1.25rem;
    margin-top: 0;
}

h4{
    margin: 40px;
}

ul {
    margin: 0 0 1.5rem;
    padding: 0;
}

li {
    display: inline-block;
}

svg {
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
}

img {
    height: auto;
    max-width: calc(100% + 2rem);
    position: center;
    align-items: center;
}

p {
    display: flex;
    padding: 30px;
    text-align: center;
    gap: 20px;
    line-height: 32px;
}

main {
    padding: 1rem 2rem;
    margin: auto;
}

/** header option
header {
    padding: 1rem 2rem;
    text-align: center;
}
    */

.card {
    background-color: #e2cfcf;
    border: 1px solid #e2cfcf;
    border-radius: 8px;
    padding: 1rem;
}



/********************************
* Carousel styles
*********************************/
.carousel-items {
    background-color: #e2cfcf;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 76%;
    align-items: center;
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    align-items: center;
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
}


/********************************
* Breakpoints
*********************************/
@media screen and (min-width: 576px) {
    .carousel-item {
        flex-basis: 300px;
    }
}

@media screen and (min-width: 992px) {

    main,
    input,
    select,
    optgroup,
    textarea {
        font-size: 1.125rem;

    }

    .carousel-item {
        flex-basis: 325px;
    }
}

@media screen and (min-width: 180px) {


    .carousel-item {
        flex-basis: 450px; 
    }
}

@media screen and (min-width: 1600px) {

    body,
    input,
    select,
    optgroup,
    textarea {
        text-align: center;
        font-size: 1.25rem;
    }
}

/***footer**/

footer {
    font-family: 'frutiger',Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #303030;
    color: white;
    padding: 60px;
    display: flex;
    align-items: center;
}

.foot1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.foot2{
    display: flex;
    align-items: left;
    padding-left: 28%;

}

.foot3{
    display: flex;
    align-items: right;
    padding-left: 33%;
}

.media{                                           
    display: flex;
    align-items: center;
    gap: 10px; 
}

.media-icon{
   display: inline-block;
   width: 30px;
   height: 30px;
}

.media-icon img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/*bouton vers le haut*/
html {
    scroll-behavior: smooth;
}

.btn{
    position: fixed;
    background: white;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: black;
    border-radius: 50% ;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

/*effet de fondu*/

.fade-in  {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}