
body {
    background-color: rgb(246,253,233);
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;

}

.page{
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    display :flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: 'Trebuchet MS';
    
    
}



.etape input[type="radio"]{
    display: none;
}

.etape label {
    display:block;
    padding:5px;
    background-color: white;
    border: 1px solid rgb(5,104,53);
    cursor:pointer;
    margin-bottom: 0;
    transition: background-color 0.5s;
    margin-top: 100px;
    width: fit-content;
    font-family: 'Trebuchet MS';
    font-size: 32px;
    text-shadow: 3px 3px 8px rgba(211,211,211,0.8);
    margin-left: 200px;
    
}

.etape label:hover{
    background-color: rgb(5,104,53);
}

.etape p{
    display: none;
    margin-left:200px;
    padding:0;
    background-color: white;
    border: 1px solid #ccc;
    width: fit-content;
    
}

#pEtape1{
    font-family: 'Trebuchet MS';
    font-size: 24px;
    margin-top: 0;
    width: fit-content;
}

#pEtape2{
    font-family: 'Trebuchet MS';
    margin-top: 0;
    font-size: 24px;
}

#pEtape3{
    font-family: 'Trebuchet MS';
    margin-top: 0;
    font-size: 24px;
}

#etape1:checked ~ #pEtape1,
#etape2:checked ~ #pEtape2,
#etape3:checked ~ #pEtape3{
    display:block;
}

.menu-item{
    position:relative;
}

.sousmenu{
    display: none;
    position: absolute;
    top:150%;
    left:0;
    width: 100%;
    background-color: rgb(246,253,233);
    list-style: none;
    margin:0;
    padding:0;
    border-radius: 15px;

}

.menu-item:hover .sousmenu{
    display:block;
}

.sousmenu li a{
    display:block;
    padding: 12px 18px;
    color:black;
    text-decoration: none;
    font-weight: normal;
}

.sousmenu li a:hover{
    background-color: rgb(246,253,233);
}

.nav-list{
    padding: 0px 20px;
}

.nav{
    flex-grow: 1;
    text-align: center;
    
}

.nav-list{
    list-style: none;
    margin: 0;
    padding :0;
    display:inline-flex;
    gap:200px;
    font-weight: bold;

}

.nav-list li a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 12px 18px;
    border-radius: 15px;


}

.nav-list li a:hover{
    background-color: white;
    border:3px solid black;
    text-shadow: 3px 3px 8px rgba(211,211,211,0.8);
    transition: background-color 0.5s;
}

.footer{
    display:flex;
    flex-direction:row;
    color:white;
    background-color:rgb(5,104,53);
}

#customlink{
    text-decoration:none;
    color: rgb(5,104,53);
}

#customlink:hover{
    color : white;
}

.ancre{
    font-family: 'Trebuchet MS';
    font-size:20px;
    color:black;
   
    
}

.Contact{
    width:40%;
    margin-left: -20%;
    
}




nav{
    margin-left: 2%;
    width:45%;
}

.reseaux{
    width:15%;
    margin-top: 3%;
    margin-left:35%;
}


.encadreBlanc{
    background-color:white;
    flex-direction: row;
	display:flex;
    margin-top:200px;
    padding-bottom:150px;
    margin-bottom:150px;
    border-top:medium solid rgb(186,183,183);
    border-bottom: medium solid rgb(186,183,183);

}

#panier{
    margin-top:200px;
    margin-left:7%;
    width:60%;
    display: flex;
}

.presentation2{
    margin-left: 7%;
    margin-top: 20%;
    width:40%;
    line-height: 32px;
}


.couvert{
    margin-top:400px;
}

.boite3{
    margin-top:400px;
    margin-left:300px;
    display: flex;
}

.citron{
    margin-top:400px;

}

article{
    
    text-align:justify;
    line-height: 32px;
}

.presentation{
    margin-left:100px;
    margin-top:250px;
    padding-right: 50px;
    width: 60%;
}



#rond{
    margin-top:240px;
    width: 40%;
}


.boite2{
    flex-direction: row;
	display:flex;
}

#positionTitre{
    text-align: center;
    
}

p{
    font-family: 'Trebuchet MS';
    font-size:22px;
    line-height: 32px;
}

h1{
    font-family:Verdana;
    font-size:40px;
}

h2{
    font-family: Verdana;
    font-size:40px;
}

#ombreTitre{
    text-shadow: black 0.1em 0.1em 0.2em;
    
}
.boite1{
	flex-direction: row;
	display:flex;

}



.box{
    background-color: rgb(5,104,53);
    font-family:Verdana;
    font-size: 40px;
    color:white;
    text-align: center;
    width:45%;
    padding-top: 450px;

    

}

#imgBoite{
    width:55%;
}
