/* Début Styles Généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(235deg, #0B3E27 0%, #000000 60%);
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: #0b3e27f0;
}

::-webkit-scrollbar-thumb {
    background-color: #D7A53F;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0b3e27;
    border: 2px solid #D7A53F;
}
/* Fin Styles Généraux */
