/* Début Survol spécifique pour le lien SWOT */
#montres-link {
    position: relative;
    color: #D7A53F;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

#montres-link.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) scaleX(1);
    transform-origin: center;
    width: 50px;
    height: 2px;
    background-color: #D7A53F;
    transition: transform 0.3s ease;
}

#montres-link:hover::after {
    transform: translateX(-50%) scaleX(1.2);
}

.menu-list li a:not(#montres-link):hover {
    border-bottom: none;
}

#logo-item a::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #0b3e27;
    margin: 5px auto 0;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    visibility: visible;
    opacity: 1;
}
/* Fin Survol spécifique pour le lien SWOT */

/* Début Section Images */
.image-section {
    display: flex;
    flex-direction: column;
}

.image-container {
    position: relative;
    margin: 0;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 450px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-title {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #D7A53F;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    text-align: left;
    border-radius: 5px;
}

.image-title h3 {
    font-size: 24px;
    margin: 0;
    font-family: 'Cinzel', serif;
}

.image-title .image-link {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #D7A53F;
    text-decoration: none;
}

.image-title .image-link:hover {
    text-decoration: underline;
}
/* Fin Section Images */

/* Début Section Produits */
.products-section {
    padding: 50px 20px;
    text-align: center;
}

.products-title {
    font-family: 'Cinzel', serif;
    font-size: 36px;
    color: #D7A53F;
    margin-bottom: 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.product-item img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.product-name {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    color: #D7A53F;
    margin-top: 10px;
}

.product-image-container {
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #D7A53F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
    text-align: center;
    font-family: 'Cinzel', serif;
}

.product-image-container:hover img {
    transform: scale(1.1);
}

.product-image-container:hover .product-overlay {
    top: 0;
    opacity: 1;
}

.product-overlay p {
    margin: 5px 0;
    font-size: 16px;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
/* Fin Section Produits */
