/* Afficher le menu hamburger sur les petits écrans */
.menu-toggle {
    display: none;
  }
  .menu-icon{
    display: block;
  }
  .menu-icon-toggle {
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  
  .menu-icon-toggle .line {
    height: 3px;
    background-color: #D7A53F;
    border-radius: 2px;
    transition: all 0.3s ease; 
  }
  
  /* Menu caché sur petits écrans */
  @media (max-width: 768px) {
    .search-container {
      justify-content: center;
      flex-direction: column;
      gap: 5px;
    }
  
    .search-input {
      width: 90%;
      margin: 5px auto;
      text-align: center;
    }
  
    .menu-toggle {
      display: block; 
      position: absolute;
      top: 10px;
      left: 20px;
      width: 30px;
      height: 30px;
      opacity: 0;
      z-index: 100;
    }
  
    .menu-icon-toggle {
      display: flex;
    }
  
    .menu-list {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #0b3e27;
      gap: 15px;
      padding: 10px 0;
      display: none;
      z-index: 99;
    }
  
    /* Afficher le menu déroulant si le hamburger est activé */
    .menu-toggle:checked + .menu-icon-toggle + .menu-list {
      display: flex;
    }
  
    .menu-list li {
      text-align: center;
      width: 100%;
    }
  
    .menu-list li a {
      padding: 10px 0;
      display: block;
      width: 100%;
    }
    #logo-item a::after {
      content: "";
      display: block;
      width: 40px;
      height: 2px;
      background-color: #D7A53F;
      margin: 0;
      position: relative;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      visibility: visible;
      opacity: 1;
  }
  }
/* Responsivité */
@media (max-width: 768px) {
    .main-menu {
     
      position: relative; 
      
    }
    .hover-text {
      font-size: 6px;
    }
    .hero-section {
      margin-top: -10vh;
      
        flex-direction: column; 
        align-items: center;
        height: auto; 
    }
  
    .hero-content, .hero-image-container {
        max-width: 100%; 
        padding: 10px;
        text-align: center; 
    }
  
    .hero-content .title {
        font-size: 8vw; 
    }
  
    .hero-content .subtitle {
        font-size: 5vw; 
    }
  
    .hero-image-wrapper {
        margin-top: 20px; 
    }
  }
  
  @media (max-width: 768px) {
    .product-section {
      margin-top: -10vh;
      grid-template-columns: 1fr; 
      text-align: center;
    }
  
    .product img {
      width: 90%; 
    }
    .product h3{
      font-size: 20px;
      margin-left: 0;
    }
  }
  @media (max-width: 768px) {
    .product-section {
      margin-top: -10vh;
      grid-template-columns: 1fr; 
      text-align: center;
    }
  
    .product img {
      width: 90%; 
    }
    .product h3{
      font-size: 20px;
      margin-left: 0;
    }
  }
  @media (max-width: 1200px) {
    .stats-section {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 768px) {
    .stats-section {
        grid-template-columns: 1fr; 
    }

    .stats-item {
        padding: 20px;
    }

    .stats-item h3 {
        font-size: 40px;
    }

    .stats-item p {
        font-size: 24px;
    }
}
@media (max-width: 1200px) {
  .partners-videos {
      grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 768px) {
  .partners-videos {
      grid-template-columns: 1fr; 
  }

  .video-item video {
      height: 180px; 
  }
}
@media (max-width: 768px) {
  .newsletter-input {
      width: 80%;
  }

  .footer {
      flex-direction: column;
  }

  .footer-logo img {
      margin-bottom: 10px;
  }

  .footer-contact, .footer-social {
      margin-bottom: 20px;
  }
}
  
/* Responsive Design pour SWOT */
@media (max-width: 768px) {
  .swot-circle-section {
      flex-direction: column;
      padding: 20px;
      align-items: center;
  }

  .swot-circle {
      width: 300px;
      height: 300px;
  }

  .swot-part {
      font-size: 18px; /* Réduire la taille des lettres */
  }

  .swot-logo img {
      width: 50px;
      height: 50px;
  }

  .swot-header h1 {
      font-size: 24px;
      text-align: center;
  }

  .swot-header p {
      font-size: 14px;
      margin-bottom: 20px;
      text-align: center;
  }
}



@media (max-width: 768px) {
  .heritage-content {
      flex-direction: column;
      text-align: center;
  }

  .heritage-text {
      max-width: 100%;
  }
  .heritage-text p {
    margin-top: 10vh;
    font-size: 18px;

  }

  .heritage-images {
      max-width: 100%;
  }

  .heritage-images img {
      width: 80%;
  }

}
/* Responsive Design pour PESTEL */
@media (max-width: 768px) {
  .pestel-header h1 {
      font-size: 24px;
      text-align: center;
  }

  .pestel-header p {
      font-size: 14px;
      margin-bottom: 20px;
      text-align: center;
  }

  .pestel-row {
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }

  .pestel-letter {
      width: 60px;
      height: 60px;
      font-size: 24px;
  }

  .pestel-text {
      text-align: justify;
      padding: 15px;
  }

  .competitor-table {
      font-size: 12px;
      overflow-x: auto;
      display: block;
  }

  .competitor-table th,
  .competitor-table td {
      padding: 10px;
      text-align: left;
  }
}
/* Responsivité */
@media (max-width: 768px) {
  .products-grid {
      grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
  }

  .product-item img {
      width: 250px;
      height: 250px;
  }
}

@media (max-width: 480px) {
  .products-grid {
      grid-template-columns: 1fr; /* Une seule colonne */
  }

  .product-item img {
      width: 200px;
      height: 200px;
  }
}
@media (max-width: 830px) {
  .product-section{
    margin-top: -25vh;
    font-size: 35px;
  }
}
@media (max-width: 1175px) {
  .product-section{
    margin-top: -10vh;
  }
}

