/* Debut Navigation principale */
.main-menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #0b3e27;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  justify-content: center;
}

.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  gap: 30px;
  padding: 0px 20px;
  margin: 0;
}

.menu-list li a {
  color: #D7A53F;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  color: #0b3e27;
  background-color: #D7A53F;
  border: 2px solid #D7A53F;
}

.menu-list li .IconSearch:hover {
  color: #0b3e27;
  background-color: transparent;
  border-color: transparent;
}

/* Survol actif sous le logo */
#logo-item a::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #D7A53F;
  margin: 5px auto 0;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  visibility: visible;
  opacity: 1;
}

/* Désactiver hover sur le logo */
#logo-item a {
  padding: 0;
  background-color: transparent;
  border: none;
}

#logo-item a img {
  width: 40px;
}

#logo-item a:hover {
  background-color: transparent;
  border: none;
}

/* Icônes (logo, recherche) */
.menu-icon {
  width: 30px;
  height: auto;
  transition: transform 0.3s ease;
}

.menu-list li a img:hover {
  background-color: transparent;
}

.menu-list li img:hover {
  transform: scale(1.2);
}

/* Conteneur de recherche */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

/* Icône de recherche */
.search-container img {
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: transparent;
}

/* Supprimer le fond jaune sur hover */
.search-container img:hover {
  background-color: transparent;
  transform: scale(1.1);
}

/* Champ de recherche */
.search-input {
  width: 0;
  height: 30px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #D7A53F;
  color: #D7A53F;
  font-size: 14px;
  font-weight: 600;
  padding: 0 10px;
  opacity: 0;
  pointer-events: none;
  transition: width 0.3s ease, opacity 0.3s ease;
}

/* Placeholder du champ de recherche */
.search-input::placeholder {
  color: #D7A53F;
  font-size: 12px;
}

/* Affichage de l'input */
.search-container:hover .search-input {
  width: 200px;
  opacity: 1;
  pointer-events: auto;
}

/* Maintenir l'icône à droite de l'input */
.search-container:hover {
  flex-direction: row-reverse;
}

/* Fin Navigation principale */

/* debut Section principale */
.hero-section {
  margin-top: -25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 50px 50px;
  height: calc(100vh - 60px);
  flex-wrap: wrap;
}

/* Contenu textuel */
.hero-content {
  flex: 1;
  max-width: 50%;
  padding: 20px;
}

.hero-content .title {
  font-family: 'Cinzel', serif;
  font-size: 6vw;
  font-weight: bold;
  background: linear-gradient(to right, #FFFFFF, #0b3e27);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 20px;
}

.hero-content .subtitle {
  font-family: 'EB Garamond', serif;
  font-size: 3vw;
  background: linear-gradient(to right, #FFFFFF, #0b3e27);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  line-height: 1.2;
}

/* Conteneur de l'image */
.hero-image-container {
  flex: 1;
  max-width: 50%;
  padding: 20px;
}

.hero-image-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Image normale */
.hero-image {
  width: 100%;
  filter: none;
  transform: scale(1);
  transition: filter 0.5s ease, transform 0.5s ease;
}

/* Flou et zoom au survol */
.hero-image-wrapper:hover .hero-image {
  filter: blur(1.5px);
  transform: scale(1.1);
}

/* Texte sur l'image */
.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #D7A53F;
  font-family: 'Cinzel', serif;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.hero-image-wrapper:hover .hover-text {
  opacity: 1;
}

/* fin Section principale */

/* Début Section Produits */
.product-section {
  margin-top: 30vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 50px 20px;
}

.product-section .product {
  text-align: center;

}

.product img {
  width: 120%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product img:hover {
  transform: scale(1.1);
}

.product h3 {
  margin-top: 15px;
  margin-left: 10vh;
  font-family: 'Cinzel', serif;
  font-weight: normal;
  font-size: 50px;
  background: linear-gradient(to right, #FFFFFF, #B7AA6B);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.product h3:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.product:nth-child(3) {
  grid-column: 3 / 4;
}

/* Fin Section Produits */


/* Début Section Statistiques */
.stats-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px 20px;
  background-color: rgba(11, 62, 39, 0.24);

  color: #D7A53F;
  text-align: center;
  overflow: hidden;
}

.stats-item {
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
}

.stats-item h3 {
  font-family: 'Cinzel', serif;
  font-size: 44px;
  margin-bottom: 10px;
}

.stats-item p {
  font-family: 'EB Garamond', serif;
  font-size: 26px;
}

/* Début Animation des statistiques */
.stats-section {
  display: grid;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}
/* Fin Animation des statistiques */


/* Animation apparaître */
.stats-item.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Hover pour zoom et ombre */
.stats-item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Fin Section Statistiques */

/* Début Section Nos Partenaires */
.partners-section {
  padding: 40px 20px;
  color: #D7A53F;
  text-align: left;
}

.partners-title {
  font-family: 'Cinzel', serif;
  font-size: 36px;
  margin-bottom: 20px;
}

.partners-videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.video-item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-item video {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 10px;
}

.video-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(247, 176, 34, 0.312);

}

.video-item iframe {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Fin Section Nos Partenaires */
/* Début Section Newsletter */
.newsletter-section {
  padding: 40px 20px;
  text-align: left;
  color: #D7A53F;
}

.newsletter-title {
  font-family: 'Cinzel', serif;
  font-size: 36px;
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.newsletter-input {
  width: 50%;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #D7A53F;
  border-radius: 5px;
  background-color: transparent;
  color: #D7A53F;
}

.newsletter-input::placeholder {
  color: #0b3e27;
  opacity: 0.8;
}

.newsletter-button {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Cinzel', serif;
  background-color: #0b3e27;
  color: #D7A53F;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.newsletter-button:hover {
  background-color: #0b3e27;
  color: #D7A53F;
  border-color: #D7A53F;
}

/* Fin Section Newsletter */

/* Footer */
.footer {
  background-color: #0b3e27;
  color: #D7A53F;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

/* Logo du footer */
.footer-logo img {
  width: 150px;
  margin-bottom: 20px;
}

/* Contact */
.footer-contact h3 {
  font-family: 'Cinzel', serif;
  margin-bottom: 10px;
}

.footer-contact p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-contact a.footer-email {
  color: #D7A53F;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-contact a.footer-email:hover {
  color: #020e09;
}

/* Icônes des réseaux sociaux */
.footer-social a img {
  width: 30px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.footer-social a img:hover {
  transform: scale(1.2);
}

/* fin footer */