/* Début Survol pour le lien SWOT */
#swot-link {
    position: relative;
    color: #D7A53F;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

#swot-link:hover {
    color: #0b3e27;
}

#logo-item a::after {
    content: "";
    display: block;
    width: 40px; 
    height: 2px; 
    background-color: #0b3e27; 
    margin: 5px auto 0;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    visibility: visible; 
    opacity: 1; 
}

#swot-link.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) scaleX(1);
    transform-origin: center;
    width: 50px;
    height: 2px;
    background-color: #D7A53F;
    transition: transform 0.3s ease;
}

#swot-link:hover::after {
    transform: translateX(-50%) scaleX(1.2);
}
/* Fin Survol pour le lien SWOT */

/* Début Section Ronde SWOT */
.swot-circle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh; 
}

.swot-circle {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid black;
    background: #D7A53F;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.swot-part {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel', serif;
    font-size: 36px;
    font-weight: bold;
    color: #D7A53F;
    position: relative;
}

.swot-s {
    background-color: #0B3E27;
    border: solid 2px #000000;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.swot-w {
    background-color: #D7A53F;
    border: solid 2px #000000;
    color: #0B3E27;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.swot-o {
    background-color: #D7A53F;
    border: solid 2px #000000;
    color: #0B3E27;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.swot-t {
    background-color: #0B3E27;
    border: solid 2px #000000;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.swot-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 60px;
    height: 60px;
}

.swot-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    background-color: black;
    padding: 5px;
}
/* Fin Section Ronde SWOT */

/* Début Section Tableau SWOT */
.swot-table-section {
    padding: 40px 20px;
    color: #D7A53F;
    text-align: center;
}

.swot-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    color: #D7A53F;
}

.swot-table thead th {
    font-family: 'Cinzel', serif;
    font-size: 24px;
    padding: 10px;
    color: red;
    border: 1px solid #D7A53F;
    text-transform: uppercase;
}

.swot-table tbody td {
    padding: 15px;
    border: 1px solid #D7A53F;
    vertical-align: top;
}

.swot-table tbody td ul {
    list-style: none;
    padding-left: 0;
}

.swot-table tbody td ul li {
    color: white;
    margin-bottom: 10px;
}

.swot-table tbody td strong {
    font-family: 'Cinzel', serif;
    color: #D7A53F;
    font-size: 30px;
    text-transform: uppercase;
}
/* Fin Section Tableau SWOT */

/* Début Section Héritage */
.heritage-section {
    margin-top: 10vh;
    padding: 40px 40px;
    text-align: left;
    font-family: 'EB Garamond', serif;
}

.heritage-title {
    font-family: 'Cinzel', serif;
    font-size: 36px;
    color: #D7A53F;
    margin-top: -5vh;
    margin-bottom: 10vh;
    text-transform: uppercase;
    text-align: center;
}

.heritage-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.heritage-text {
    color: white;
    margin-top: -20vh;
    flex: 1;
    max-width: 80%;
}

.heritage-text p {
    margin-top: 10vh;
    font-size: 25px;
    line-height: 1.6;
}

.heritage-text .highlight {
    color: #f1c232;
    font-weight: bold;
}

.heritage-images {
    flex: 1;
    max-width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.heritage-images img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.heritage-images img:hover {
    transform: scale(1.05);
}
/* Fin Section Héritage */
