* {
    margin: 0;
  }
body, html, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    background-color: #ffffff;
    color: #008320;
  }
.navbar ul {
    display: flex;
    justify-content: flex-start;
}

.nav-item {
    position: relative;
    margin-right: 20px;
}

.nav-item a {
    color: #008320;
    padding: 10px 1px;
    display: block;
    transition: background 0.3s;
}

/* Dropdown Banner */
.dropdown-banner {
    position: fixed; 
    top: 70px; 
    left: 0; 
    right: 0; 
    height: 100px;
    background-color: #008320; 
    color: white; 
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    /* Animation */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%); 
    transition: opacity 1.2s ease, transform 0.3s ease;
    z-index: 1000; 
}
.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content p{
    font-size: 2em;
}



.dropdown-banner .banner-content {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Affiche la bannière au survol */
.nav-item:hover .dropdown-banner {
    opacity: 1; 
    visibility: visible; 
    transform: translateY(0); 
}
  a {
    color: #008320;
    text-decoration: none;
    font-weight: 400;
    line-height: 29.26px;
  }
  img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
  }
  nav img {
    width: 88px;
    height: 62px;
  }
  section img {
    width: 100%;
  }
  main {
    position: relative;
    background-color: white;
  }
  .presentation-volvic {
      position: relative;
      width: 70%;
      text-align: justify;
      margin: -100px auto 30px auto;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 400;
      line-height: 29px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-bottom: 10%;
      padding: 5px;
  }
  .presentation-volvic h1{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    line-height: 50px;
    padding: 5%;
    font-size: 2.5em;
    background-color: white;
  }
  
  h2 {
    color: #f9f8ff;
  }
  
  header {
    background-color: white;
    padding: 5px 50px;
  }
  .lien-icone {
    margin-left: 30px;
  }
  
  footer,
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  nav a {
    margin-left: 30px;
  }

.accueil-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Pleine hauteur de la fenêtre */
    overflow: hidden;
}


.accueil-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accueil-image-text {
  position: absolute;
  top: 41%;
  left: 6%;
  transform: translateY(-50%);
  background-color: white;
  width: 37%;
  height: auto;
}

.accueil-image-text h1 {
    margin: 0;
    padding: 10%;
    font-size: 3.5rem; 
    color: #0d5c2f; 
    text-transform: uppercase; 
    font-family: Veneer, 'Bebas Neue', sans-serif;
}


footer {
    background-color: #e6e5e5;
    color: #0d5c2f;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    height: 250px;
    border-top: 1px solid #e6e5e5;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    color: #0d5c2f;
}

.footer-content p {
    margin: 0;
    font-size: 1rem;
}

.footer-content a {
    text-decoration: none;
    color: #0d5c2f;
    font-size: 0.9rem;
    margin-left: 10px;
    transition: color 0.3s;
}

.footer-bottom {
    margin-top: 15px;
    text-align: center;
}

.footer-bottom p {
    margin: 10px 0;
    font-size: 0.9rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}


.footer-divider {
    display: none;
    border: 0;
    border-top: 1px solid #f6f6f6;
    margin: 15px 0;
}

.icon {
    font-size: 2rem;
    color: #0d5c2f;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}


@media screen and (max-width: 766px) {
    .nav-item:hover .dropdown-banner {
    visibility: hidden;
}
    .presentation-volvic h1 {
        font-size: 1.8rem; 
        line-height: 1.4;
    }
    .accueil-image-text{
        display: none;
    }
    main {
        margin-top: 0; 
    }

    header {
        height: auto; 
    }
    .footer-content {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .footer-content a {
        margin-left: 0; 
    }

    .footer-bottom {
        margin-top: 15px;
        text-align: left;
    }

    .social-icons {
        justify-content: flex-start;
    }

    .footer-divider {
        display: block; 
    }
}


  @media screen and (max-width: 766px) {
    header nav {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    header nav img {
      margin-bottom: 20px;
    }
  
    header,
    footer {
      padding: 20px 20px;
    }
  
    h1 {
      font-size: 2em;
    }
  
    nav a {
      margin-left: 10px;
      margin-right: 10px;
    }
  }



  /* PESTEL.CSS mis ici pour gagner en nombre de fichiers qui ne depasse pas 20 par dossier */
  .pestel-section {
    margin: 50px auto 30px auto;
    display: flex;
    text-align: center;
    max-width: 1100px;
    width: 100%;
}

header + h1 {
    text-align: center;
    margin: 80px;
    font-size: 4rem;
    color: #008320;
    margin-bottom: 20px;
    font-family: Veneer, 'Bebas Neue', sans-serif;
}

/* Grille des bannières-pestel */
.banners-pestel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* Bannière individuelle */
.banner {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Image */
.banner .image {
    height: 350px;
    background-size: cover;
    background-position: center;
}

/* Texte */
.banner .text {
    padding: 35px;
    text-align: justify;
}

.banner .text h2 {
    font-size: 1.2rem;
    color: #008320;
    margin-bottom: 10px;
}

.banner .text p {
    font-size: 0.9rem;
    color: #008320;
}
  /*Fin partie pestel.css*/


  /* SWOT.CSS également mis ici */

/* Grille des bannières-swot */
.banners-swot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

/* Responsivité de toutes les bannières*/
@media (max-width: 768px) {
    .banners-swot, .banners-pestel {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .banners-pestel, .banners-swot {
        grid-template-columns: 1fr;
    }
}

 /*Fin partie swot.css*/
  