body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    background-image: url('https://th.bing.com/th/id/OIP.YLrr8vhGyMo5Irjxx51cbQAAAA?rs=1&pid=ImgDetMain'), url('https://s3-alpha-sig.figma.com/img/10f0/7bac/85418450039b9ba1a322a446435fe585?Expires=1735516800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AMmBJCGFMY7iyF~vpxLYtuRXsjhCgIo4uj7-9rgRw3BVKwgwDOEY8xD7onDeUE-dyNYl1I-yuS0Qpo31ZoCb3S~lbkHfNIJ83g9-4D9rRPLoiMDGW8XjNayNbsTI~2dAOLDiApIZqZozpj5nDq32~QMVvhFUzfBtUys3XLF0XRZY7VuuLhsXRjDu3WOpNbZdHfh9wKoEEm02g2C3O5svpAt445ZJ1vCGKXnL4dQnZJUiLwazIi88wHMCzHNK5xN~VEYv6k0Cla9ncSGvA~CUkixoKraC7FnIOVthrw4s62tZivaK-jqppl4XnSvR04u8pl~7EAw0T4RbUzd8wlLi7g__');
    background-size: 50% 100%;
    background-position: left center, right center;
    background-repeat: no-repeat;
    margin:0;
    height: 100vh;
}

header {
    width: 100%;
    background-color: #175071; /* Couleur principale d'Écouter Voir */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    height: 50px;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #175071;
    font-size: 1.5em;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social-link:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    width: 80px
    
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.swot { background-color: #175071; }
.porter { background-color: #175071; }
.rse { background-color: #175071; }
.pestel { background-color: #175071; }

#swot {
    margin-top: 400px;
}

section {
    scroll-margin-top: 150px;
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.back-to-top {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color:  #175071; /* Couleur principale */
    color: white;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.back-to-top:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color:  #175071;
    color: white;
}


footer {
    width: 100%;
    background-color:  #175071;
    color: white;
    padding: 1em 0;
    margin-top: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-links {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: left;
}


.footer-names {
    font-size: 1em;
}



.footer-links h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}


@media (max-width: 480px) {

    .logo img {
        height: 40px;
    }

    footer {
        height: 40px;
    }
}

