@font-face {
    font-family: 'Frutiger Com';
    src: local('Frutiger Com Roman'), local('Frutiger-Com-Roman'),
        url('FrutigerLTCom-Roman.woff2') format('woff2'),
        url('FrutigerLTCom-Roman.woff') format('woff'),
        url('FrutigerLTCom-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }