@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
    scroll-behavior: smooth;
}

/* Permet au contenu de pousser le footer en bas */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Le main prend l'espace disponible */
main {
    flex: 1;
}

.container {
    display: flex; /* Active le mode flexbox */
    align-items: center; /* Aligne les items sur le même niveau de hauteur */
    justify-content: space-around; /* Espace entre les divs */
    height: 75px; /* Hauteur totale du conteneur */

}

.box {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
    }

.menu-containeur {
    
    display: flex;
    justify-content: center; /* Centre les boutons horizontalement */
    align-items: center; /* Aligne verticalement */
    gap: 20px; /* Espace entre les boutons */
    margin: 20px 0;
}

.menu{
    font-family: 'Mulish';
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 35px; /* Espacement interne */
    position: relative;
}

.menu::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Décalage vertical sous le texte */
    width: 100%; /* La barre occupe toute la largeur sous le texte */
    height: 3px; /* Hauteur de la barre */
    background-color: #f19300; /* Couleur orange */
    opacity: 0; /* Initialement invisible */
    transition: opacity 0.3s ease; /* Transition pour l'apparition en fondu */
}

.menu:hover::after {
    opacity: 1; /* La barre devient visible */
}


header{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}




/* Section principale */
.pestel-section, .rse-section, .porter-section {
    display: flex; /* Active le flexbox pour centrer les éléments */
    flex-direction: column; /* Aligne les éléments verticalement */
    align-items: center; /* Centre horizontalement */
    max-width: 50%; /* Limite la largeur à 50% */
    margin: 0 auto 50px auto; /* Centre horizontalement avec un espace en bas */
    text-align: justify; /* Texte justifié */
    padding: 50px 20px;
    font-family: 'Mulish', sans-serif;
}


/* Titre */
.title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.title::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f19300;
    margin: 10px auto 0;
}

/* Texte tronqué */
.fade-text {
    width: 100%; /* Le texte occupe toute la largeur de son conteneur */
    margin: 0; /* Supprime les marges inutiles */
    text-align: justify; /* Justifie le texte */
    line-height: 1.6; /* Hauteur des lignes */
    font-size: 16px;
    height: 4.8em; /* Limite à 3 lignes */
    overflow: hidden; /* Empêche le débordement */
    transition: height 0.5s ease;
}



/* Affiche tout le texte */
.toggle-checkbox:checked ~ .fade-text {
    height: auto; /* Affiche tout le texte */
}

/* Bouton */
.bouton {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #f19300;
    color: #FFFFFF;
    border: 2px solid #f19300;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.bouton:hover {
    background-color: #FFFFFF;
    color: #f19300;
}

.bouton {
    margin: 15px auto; /* Centre horizontalement */
}

/* Checkbox invisible */
.toggle-checkbox {
    display: none;
}







/* Section SWOT */
.swot-section {
    text-align: center;
    padding: 50px 20px;
    font-family: 'Mulish', sans-serif;
}

.swot-container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Chaque ligne de deux colonnes */
.row {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espace entre les colonnes */
    margin-bottom: 20px; /* Espacement entre les lignes */
}


/* Colonnes SWOT */
.swot-column {
    width: 50%; /* Chaque colonne occupe 50% de la largeur */
    background-color: #f5f5f5; /* Fond gris clair */
    border: none; /* Supprime le contour */
    border-radius: 0;
    padding: 40px 20px 20px 20px; /* Laisse de l'espace en haut pour le titre */
    text-align: center;
    font-family: 'Mulish', sans-serif;
    position: relative; /* Nécessaire pour le positionnement du titre */
    box-shadow: none;
}


/* Titre des colonnes SWOT */
.swot-column h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    margin: 0; /* Supprime les marges par défaut */
    padding: 15px 20px; /* Augmente légèrement le padding pour centrer verticalement */
    background-color: #fff; /* Rectangle blanc */
    position: absolute; /* Positionne le rectangle par rapport à la box */
    top: -5px; /* Place le rectangle légèrement en dessous du haut de la box */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Centre le rectangle par rapport à la box */
    width: auto; /* Ajuste la largeur pour entourer légèrement le texte */
    box-shadow: none; /* Pas d'ombre sur le rectangle */
    z-index: 1; /* Assure que le titre reste au-dessus */
    text-align: center; /* Centre le texte à l'intérieur du rectangle */
    line-height: 1; /* Réduit l'espacement entre les lignes */
}



/* Texte visible et caché (même style que l'introduction) */
.fade-text, .hidden-text {
    line-height: 1.6;
    font-size: 16px; /* Même taille que l'introduction */
    text-align: justify; /* Texte justifié */
}

.fade-text {
    width: 100%; /* Le texte occupe toute la largeur de la box */
    margin: 0; /* Supprime les marges inutiles */
    text-align: justify; /* Justifie le texte */
    line-height: 1.6; /* Hauteur des lignes */
    font-size: 16px; /* Taille du texte */
    overflow: hidden; /* Empêche le débordement */
    height: 4.8em; /* Limite à 3 lignes */
    transition: height 0.5s ease;
}


.hidden-text {
    display: none; /* Masqué par défaut */
    margin: 0; /* Supprime toute marge */
    padding: 0; /* Supprime tout padding */
    line-height: 1.6; /* Assure une continuité avec le texte visible */
}


/* Affiche le texte caché */
.toggle-checkbox:checked ~ .fade-text + .hidden-text {
    display: block;
}

/* Bouton */
.bouton {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #f19300;
    color: #FFFFFF;
    border: 2px solid #f19300;
    border-radius: 50px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.bouton:hover {
    background-color: #FFFFFF;
    color: #f19300;
}

/* Bouton centré horizontalement dans les boxes SWOT */
.swot-column .bouton {
    display: inline-block; /* Le bouton conserve sa taille d'origine */
    margin: 15px auto 0; /* Centre horizontalement et ajoute un espace au-dessus */
    text-align: center; /* Centre le texte à l'intérieur du bouton */
}


/* Checkbox invisible */
.toggle-checkbox {
    display: none;
}











/* Footer général */
footer {
    background-color: #e5e5e5;
    color: #333333;
    font-family: 'Mulish', sans-serif;
    padding: 20px 40px;
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
}

/* Conteneur principal */
.footer-container {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    justify-content: center; /* Centre les colonnes horizontalement */
    gap: 20px; /* Espace entre les colonnes */
    max-width: 1200px; /* Limite la largeur totale */
    margin: 0 auto;
}

/* Section logo */
.footer-logo {
    flex: 1 1 200px; /* Prend une largeur minimale de 200px et s'adapte */
    max-width: 300px; /* Limite la largeur du logo */
    text-align: left;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.footer-logo a {
    color: #333333;
    text-decoration: none;
}

.footer-logo a:hover {
    text-decoration: underline;
}

/* Tableau des liens */
.footer-links {
    display: flex;
    flex-wrap: wrap; /* Permet de répartir les colonnes */
    flex: 3 1 700px; /* Prend plus d'espace que le logo et s'adapte */
    justify-content: space-between; /* Répartit uniformément les colonnes */
}

.footer-links h3 {
    color: #f19300;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 30px; /* Espacement vertical entre les éléments */
    margin-top: 30px; /* Espacement vertical entre les éléments */
}

.footer-links a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Bas du footer */
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    border-top: 1px solid #E0E0E0;
    padding-top: 10px;
}

.footer-bottom a {
    color: #f19300;
    text-decoration: none;
    margin: 0 5px;
}

.footer-bottom a:hover {
    text-decoration: underline;
}


/* Bouton centré sous le texte */
.pestel-section .bouton,
.rse-section .bouton,
.porter-section .bouton {
    display: block; /* Force le bouton à occuper une nouvelle ligne */
    margin: 15px auto 0; /* Centre horizontalement avec auto */
    text-align: center; /* Centre le texte à l'intérieur du bouton */
    width: fit-content; /* Ajuste la largeur à son contenu */
}

