@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Structure globale */
html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Empêche les débordements horizontaux */
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Inclut padding et bordures dans les dimensions */
}

/* Le main prend l'espace disponible */
main {
    flex: 1;
}

/* Conteneur principal (menu/navigation) */
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75px;
}

/* Boîtes dans le conteneur */
.box {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

/* Menu principal */
.menu-containeur {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.menu {
    font-family: 'Mulish';
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 35px;
    position: relative;
}

.menu::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #f19300;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu:hover::after {
    opacity: 1;
}

/* Header */
header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Titres */
h1 {
    text-align: center;
    font-family: 'Mulish';
    font-weight: bold;
    margin-top: 75px;
}

/* Texte d'introduction */
.introduction {
    text-align: justify;
    font-family: 'Mulish';
    width: 50%;
    margin: 50px auto;
}

/* Section avec l'image de stylo */
.stylo {
    margin: 50px auto;
    text-align: center;
}

/* Section cartes */
.carte {
    margin: 50px auto;
    text-align: center;
}

/* Images dans les cartes */
.carte img {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    margin-bottom: -15px;
    margin-top: 100px;
}

/* Bouton */
.bouton {
    font-family: 'Mulish';
    margin-left: 600px;
    text-decoration: none;
    background-color: #f19300;
    color: #FFFFFF;
    border: 2px solid #f19300;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.bouton:hover {
    background-color: #FFFFFF;
    color: #f19300;
}



/* Footer général */
footer {
    background-color: #e5e5e5;
    color: #333333;
    font-family: 'Mulish', sans-serif;
    padding: 20px 40px;
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
}

/* Conteneur principal */
.footer-container {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    justify-content: center; /* Centre les colonnes horizontalement */
    gap: 20px; /* Espace entre les colonnes */
    max-width: 1200px; /* Limite la largeur totale */
    margin: 0 auto;
}

/* Section logo */
.footer-logo {
    flex: 1 1 200px; /* Prend une largeur minimale de 200px et s'adapte */
    max-width: 300px; /* Limite la largeur du logo */
    text-align: left;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.footer-logo a {
    color: #333333;
    text-decoration: none;
}

.footer-logo a:hover {
    text-decoration: underline;
}

/* Tableau des liens */
.footer-links {
    display: flex;
    flex-wrap: wrap; /* Permet de répartir les colonnes */
    flex: 3 1 700px; /* Prend plus d'espace que le logo et s'adapte */
    justify-content: space-between; /* Répartit uniformément les colonnes */
}

.footer-links h3 {
    color: #f19300;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 30px; /* Espacement vertical entre les éléments */
    margin-top: 30px; /* Espacement vertical entre les éléments */
}

.footer-links a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Bas du footer */
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    border-top: 1px solid #E0E0E0;
    padding-top: 10px;
}

.footer-bottom a {
    color: #f19300;
    text-decoration: none;
    margin: 0 5px;
}

.footer-bottom a:hover {
    text-decoration: underline;
}