body {
    font-family: opensans, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    margin: 20px 0;
    font-size: 3rem;
    color: #F0F0F0;
    text-transform: uppercase;
}


.box {
    position: absolute;
    width: 400px;
    height: 200px;
    border: 2px solid #333;
    text-align: center;
    background-color: #fff;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
    border-radius: 30px;
}
.box:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#politique { top: 27%; left: 20%; background-color: #f56a54; color: white; }
#economie { top: 27%; right: 20%; background-color: #56a65a; color: white; }
#social { bottom: 20%; right: 3%; background-color: #457cee; color: white; }
#technologie { top: 85%; right: 20%; background-color: #daa65d; color: white; }
#ecologie { bottom: 20%; left: 3%; background-color: #FFD700; color: white; }
#legislation { top: 85%; left: 20%; background-color: #f09cf1; color: white; }
#centre {
    position: absolute;
    top: 60%;
    left: 43%;
    font-size: 2rem;
    color: #d84c3a;
    text-decoration: underline;
    
}
.ligne {
    position: absolute;
    border: 5px dashed #666;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    top: 30%;
    left: 10%;
}
h2
{
    text-decoration: underline;
}
footer
{
    margin-top: 850px;
}
header
{
    padding-bottom: 500px;
}