@media (min-width: 1024px) {

    body {
        margin: 0;
        line-height: normal;
    }

    @font-face {
        font-family: 'Brice';
        src: url(assets/font/Brice-SemiBoldSemiExpanded.otf);
    }

    .image-1-icon {
        position: absolute;
        top: -4px;
        left: 0px;
        width: 1728px;
        height: 511px;
        object-fit: cover;
    }
    .levis-logo-1 {
        position: absolute;
        top: 8px;
        left: 509px;
        width: 711px;
        height: 486px;
        object-fit: cover;
    }
    .macbook-pro-16-1-child {
        position: absolute;
        top: 507px;
        left: 0px;
        background-color: #f55855;
        width: 1728px;
        height: 110px;
    }
    .image-2-icon {
        position: absolute;
        top: 617px;
        left: 1106px;
        width: 622px;
        height: 534px;
        object-fit: cover;
    }
    .image-3-icon {
        position: absolute;
        top: 617px;
        left: 484px;
        width: 622px;
        height: 534px;
        object-fit: cover;
    }
    .image-4-icon {
        position: absolute;
        top: 617px;
        left: -16px;
        width: 500px;
        height: 534px;
        object-fit: cover;
    }
    .rse1 {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: font-size 0.3s ease;
    }

    .rse1:hover{
        font-size: 100px;
    }

    .rse {
        position: absolute;
        top: 769px;
        left: 22px;
        width: 399px;
        height: 178px;
        font-size: 85px;
    }
    .swot {
        position: absolute;
        top: 818px;
        left: 1185px;
        width: 463px;
        height: 80px;
        font-size: 85px;
        color: #00254b;
    }
    .porter {
        position: absolute;
        top: 769px;
        left: 446px;
        width: 698px;
        height: 176px;
        font-size: 85px;
        color: #ee5129;
    }
    .image-5-icon {
        position: absolute;
        top: 1151px;
        left: 0px;
        width: 1728px;
        height: 782px;
        object-fit: cover;
    }
    .le-style {
        margin: 0;
    }
    .le-style-de-container {
        position: absolute;
        top: 1232px;
        left: 174px;
        font-size: 96px;
        font-weight: 900;
        font-family: Montserrat;
        text-align: left;
        display: inline-block;
        width: 726px;
        height: 255px;
    }
    .image-6-icon {
        position: absolute;
        top: 1555px;
        left: 927px;
        width: 315px;
        height: 343px;
        object-fit: cover;
    }
    .image-7-icon {
        position: absolute;
        top: 1555px;
        left: 1262px;
        width: 315px;
        height: 343px;
        object-fit: cover;
    }
    .image-11-icon {
        position: absolute;
        top: 1188px;
        left: 927px;
        width: 315px;
        height: 343px;
        object-fit: cover;
    }
    .image-9-icon {
        position: absolute;
        top: 1188px;
        left: 1262px;
        width: 315px;
        height: 343px;
        object-fit: cover;
    }
    .macbook-pro-16-1-item {
        position: absolute;
        top: 1188px;
        left: 1242px;
        background-color: #fff;
        width: 20px;
        height: 710px;
    }
    .macbook-pro-16-1-inner {
        position: absolute;
        top: 1531px;
        left: 927px;
        background-color: #fff;
        width: 650px;
        height: 24px;
    }
    .line-1-icon {
        position: absolute;
        top: 1413px;
        left: 163px;
        width: 225px;
        height: 163px;
        object-fit: cover;
    }
    .rectangle-div {
        position: absolute;
        top: 1933px;
        left: 0px;
        background-color: #000;
        width: 1728px;
        height: 260px;
    }
    .rue-charles-grad {
        position: absolute;
        top: 2140px;
        left: 4%;
        display: inline-block;
        font-family: 'Istok Web';
        width: 288px;
        height: 20px;
    }
    .contactleviscom {
        position: absolute;
        top: 2058px;
        left: 4%;
        display: inline-block;
        font-family: 'Istok Web';
        width: 182px;
        height: 20px;
    }
    .courtois-industries-since {
        position: absolute;
        top: 2142px;
        left: 1253px;
        display: inline-block;
        font-family: 'Istok Web';
        width: 427px;
        height: 20px;
    }
    .about1 {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        font-weight: 900;
        display: inline-block;
        transition: color 0.2s ease;
        
    }

    .about1:hover {
        color: #FF0000;
    }


    .about {
        position: absolute;
        top: 2101px;
        left: 61px;
        width: 125px;
        height: 43px;
    }
    .contact {
        position: absolute;
        top: 2020px;
        left: 58px;
        width: 167px;
        height: 43px;
    }
    .levis-lalliance-parfaite {
        position: absolute;
        top: 1555px;
        left: 163px;
        font-size: 48px;
        display: inline-block;
        font-family: 'Istok Web';
        width: 678px;
        height: 237px;
    }
    .new-new-new {
        display: inline-block; /* Garde le texte en ligne */
        white-space: nowrap; /* Évite les sauts de ligne */
        animation: scrollText 100s linear infinite; /* Animation infinie */
        top: 28px;
        left: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4951px;
        height: 85px;
    }
    .component-3 {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        top: 494px;
        left: -3244px;
        background-color: rgba(255, 255, 255, 0);
        width: 5020px;
        height: 141px;
        font-size: 48px;
        font-family: Monoton;
    }
    .macbook-pro-16-1 {
        width: 100%;
        position: relative;
        height: 2193px;
        overflow: hidden;
        background-image: url('MacBook Pro 16" - 1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        text-align: center;
        font-size: 20px;
        color: #fff;
        font-family: Brice;
    }

    @keyframes scrollText {
        from {
        transform: translateX(100%); /* Le texte commence à droite */
        }
        to {
        transform: translateX(-100%); /* Le texte finit à gauche */
        }
    }
}

a {
    text-decoration: none;
    color: white;
}