@font-face {
    font-family: 'Brice';
    src: url(assets/font/Brice-SemiBoldSemiExpanded.otf);
}

.image-1-icon {
    position: absolute;
    top: -4px;
    left: 0px;
    width: 1728px;
    height: 1937px;
    object-fit: cover;
}
.levis-logo-1 {
    position: absolute;
    top: 8px;
    left: 509px;
    width: 711px;
    height: 486px;
    object-fit: cover;
    cursor: pointer;
}

.swot1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: font-size 0.3s ease;
}
.swot1:hover{
    font-size: 100px;
}
.swot {
    position: absolute;
    top: 425px;
    left: 265px;
    width: 399px;
    height: 178px;
    font-size: 85px;
}

.porter1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: font-size 0.3s ease;
}
.porter1:hover{
    font-size: 100px;
}
.porter {
    position: absolute;
    top: 425px;
    left: 1135px;
    width: 399px;
    height: 178px;
    font-size: 85px;
}

.rse1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: font-size 0.3s ease;
}
.rse1:hover{
    font-size: 100px;
}
.rse {
    position: absolute;
    top: 425px;
    left: 665px;
    width: 399px;
    height: 178px;
    font-size: 85px;
}
.macbook-pro-16-2-child {
    position: absolute;
    top: 1933px;
    left: 0px;
    background-color: #000;
    width: 1728px;
    height: 260px;
}
.courtois-industries-since {
    position: absolute;
    top: 2142px;
    left: 1253px;
    display: inline-block;
    font-family: 'Istok Web';
    width: 427px;
    height: 20px;
}
.about1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    font-weight: 900;
    display: inline-block;
    transition: color 0.2s ease;
}
.about {
    position: absolute;
    top: 2101px;
    left: 61px;
    width: 125px;
    height: 43px;
}
.about1:hover {
    color: #FF0000;
}
.contact {
    position: absolute;
    top: 2020px;
    left: 61px;
    width: 167px;
    height: 43px;
}
.rue-charles-grad {
    position: absolute;
    top: 2140px;
    left: 4%;
    display: inline-block;
    font-family: 'Istok Web';
    width: 288px;
    height: 20px;
}
.contactleviscom {
    position: absolute;
    top: 2058px;
    left: 4%;
    display: inline-block;
    font-family: 'Istok Web';
    width: 182px;
    height: 20px;
}
.macbook-pro-16-2 {
    width: 100%;
    position: relative;
    height: 2193px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: Brice;
}

a {
    text-decoration: none;
    color: white;
}