body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu-dropdown {
    position: relative;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.menu-dropdown:hover .menu-content {
    display: block;
}

.menu-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.menu-content a:hover {
    background-color: #f0f0f0;
}

.brand {
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.logo img {
    width: 50px;
}

main {
    text-align: center;
}

.presentation {
    margin: 20px 0;
}

.presentation img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.link-item {
    flex: 1;
    max-width: 200px;
}

.link-item img {
    width: 100%;
    height: 150px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensure the image covers the space without distortion */
}

.link-item h2 {
    font-size: 18px;
    color: blue;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer .credits,
footer .sources {
    margin: 10px 0;
}

footer .credits p {
    margin: 0;
}

footer .sources h2 {
    margin: 5px 0;
}

footer .sources img {
    width: 50px;
}
