* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.conteneur-global {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header .logo1 {
    width: 120px;
}

.fond {
    width: 100%;
    margin-top: 140px;
    padding: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.button-link {
    text-decoration: none;
    display: block;
}

.button {
    background-color: black;
    color: white;
    width: 120px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

.buttons-container {
    display: flex;
    align-items: stretch;
    gap: 0;
}

.button:hover {
    background-color: white;
    color: black;
}

.buttons-container .button:first-child {
    margin-left: 40px;
}

.header nav {
    flex-grow: 1;
    text-align: center;
}

.header .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.contenu-principal {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 70px;
}

.titre-page {
    text-align: center;
    padding: 40px;
    background-color: #f4f4f4;
    margin-top: 140px;
}

.titre-page h4 {
    font-family: 'Brothers 1816', sans-serif;
    font-size: 33px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 20px;
}

.titre-page .texte-presentation {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    word-wrap: break-word;
}

.titre-page .texte-presentation2 {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    max-width: 1000px;
    margin-left: 120px;
    text-align: left;
    word-wrap: break-word;
}

.rectangle-noir {
    background-color: black;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    text-align: center;
    z-index: 2;
}

.rectangle-noir .logo2 {
    width: 150px;
    margin-right: 20px;
}

.rectangle-noir .texte-rectangle {
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
    max-width: 80%;
    font-weight: normal;
    flex-grow: 1;
}

.rectangle-noir > * {
    flex-shrink: 0;
}

.rectangle-gris {
    background-color: #D9D9D9;
    color: #333;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 10px;
    height: 240px;
    margin: 0;
    z-index: 1;
}

.rectangle-gris p {
    width: 18%;
    font-size: 12px;
    line-height: 1.8;
    text-align: left;
    overflow: hidden;
}

.rectangle-gris span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.bandelette-blanche {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    position: relative;
    z-index: 1;
}

.bandelette-blanche p {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.bandelette-blanche a {
    color: black;
}

.bandelette-blanche .mpnl {
    margin-left: 80px;
}

.réseaux {
    width: 200px;
    height: auto;
}

@media (max-width: 768px) {
    .rectangle-noir {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .rectangle-noir .texte-rectangle {
        max-width: 100%;
    }

    .rectangle-gris {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .rectangle-gris p {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .bandelette-blanche p {
        font-size: 10px;
    }

    .conteneur-global {
        overflow-x: auto;
        flex-grow: 1;
    }
}

@media (min-width: 1200px) {
    .conteneur-global {
        max-width: 100%;
    }
}

.rectangle-noir {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

.i {
    font-style: italic;
}

.ib {
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 1px;
}

.b {
    font-weight: bold;
    font-size: 16px;
}

.b2 {
    font-weight: bold;
    font-size: 16px;
}

.normal {
    text-align: left;
    font-size: 14px;
    line-height: 1.6;
    max-width: 1000px;
    margin-left: 120px;
    text-align: left;
    word-wrap: break-word;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 100%;
}

.image1 {
    width: 500px;
    height: auto;
}

.image2 {
    width: 625px;
    height: auto;
}


