/* Prendre l'entièrté de la page*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*Définir image de fond*/
body {
  background-image: url("boutique.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#entete {
  font-size: 2.5em;
  text-size-adjust: 50%;
  margin: 0;
  color: whitesmoke;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 25%;
}
  
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
  
nav li {
  margin-left: 20px;
}

.menu {
  position: relative;
}
  
.menu-contenue {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}
  
.menu-contenue li {
  margin: 0;
 }
  
.menu-contenue a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  
.menu:hover .menu-contenue{
  display: block;
}
  
.menu-contenue a:hover {
  background-color: #f1f1f1;
}
  
nav a {
  text-decoration: none;
  color: whitesmoke;
}

#section-boutique {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5%;
  box-sizing: border-box;
}

#Boutique {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#Boutique li {
  flex: 1 1 200px;
  max-width: 300px;
  list-style-type: none;
}


.produit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produit h3 {
  margin-bottom: 10px;
}

.produit img:hover {
  opacity: 1;
}

.produit img {
  transition: opacity 0.3s ease; 
  opacity: 0.7; 
  max-width: 100%;
  height: auto;
  object-fit: cover; 
}

footer {
  display: flex;
  flex-direction: row; /* Changez en 'column' si vous voulez les aligner verticalement */
  align-items: center;
  justify-content: space-between; /* Aligne les éléments aux extrémités */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  padding: 15px 20px; /* Ajoutez un peu de padding */
  min-height: 50px; /* Hauteur minimale pour le footer */
}

.social {
  display: flex;
  align-items: center;
}

.droits, .mentions, .conditions {
  color: white;
  font-size: 12px;
  margin: 0 10px; /* Ajoutez un espacement entre les éléments */
}

footer img {
  width: 15px;
  height: 15px;
  margin: 0 10px;
}