/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: brown;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#entete {
    font-size: 2.5em;
    text-size-adjust: 50%;
    margin: 0;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

/* Navigation */
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #3498db;
}

/* Menu déroulant */
.menu {
    position: relative;
}

.menu-contenue {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.menu-contenue li {
    margin: 0;
}

.menu-contenue a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.menu:hover .menu-contenue {
    display: block;
}

.menu-contenue a:hover {
    background-color: #f1f1f1;
}

/* Main content */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    border-top: 5px solid brown ; 
    padding-top: 30px;
    margin-top: 30px;
}


/* Images */
img {
    border-radius: 25%;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

/* RSE section */
.RSE {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.RSE h2 {
    color: burlywood;
    border-bottom: 2px solid brown;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.RSE h3 {
    color: burlywood;
    margin-top: 25px;
}

.RSE ul {
    list-style-type: none;
    padding-left: 20px;
}

.RSE li {
    margin-bottom: 15px;
    position: relative;
}

.RSE li::before {
    content: "•";
    color: goldenrod;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.RSE p {
    margin-top: 20px;
    font-style: italic;
    color: #7f8c8d;
}

.SWOT table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
}

/* PORTER section */
.PORTER {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.PORTER h2 {
    color: burlywood;
    border-bottom: 2px solid brown;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.PORTER h3 {
    color: burlywood;
    margin-top: 25px;
}

.PORTER ul {
    list-style-type: none;
    padding-left: 20px;
}

.PORTER li {
    margin-bottom: 15px;
    position: relative;
}

.PORTER li::before {
    content: "•";
    color: goldenrod;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.PORTER p {
    margin-top: 20px;
    font-style: italic;
    color: #7f8c8d;
}

/* Pestel section */
.Pestel {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.Pestel h2 {
    color: burlywood;
    border-bottom: 2px solid brown;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.Pestel h3 {
    color: burlywood;
    margin-top: 25px;
}

.Pestel ul {
    list-style-type: none;
    padding-left: 20px;
}

.Pestel li {
    margin-bottom: 15px;
    position: relative;
}

.Pestel li::before {
    content: "•";
    color: goldenrod;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.Pestel p {
    margin-top: 20px;
    font-style: italic;
    color: #7f8c8d;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(44, 62, 80, 0.9);
    backdrop-filter: blur(5px);
    padding: 15px 20px;
    min-height: 50px;
}

.social {
    display: flex;
    align-items: center;
}

.droits, .mentions, .conditions {
    color: white;
    font-size: 12px;
    margin: 0 10px;
}

footer img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.2);
}

/* Responsive design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

    .RSE {
        padding: 20px;
    }

    footer {
        flex-direction: column;
        padding: 10px;
    }

    .social {
        margin-bottom: 10px;
    }
}
