header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
  
#entete {
  font-size: 25%;
  text-size-adjust: 50%;
  margin: 0;
}

body {
  background-image: url('partenaire.webp');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
  
nav li {
  margin-left: 20px;
}

.menu {
  position: relative;
}
  
.menu-contenue {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}
  
.menu-contenue li {
  margin: 0;
 }
  
.menu-contenue a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  
.menu:hover .menu-contenue{
  display: block;
}
  
.menu-contenue a:hover {
  background-color: #f1f1f1;
}


.info-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.info {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
}

.left {
  left: 5%;
}

.right {
  right: 5%;
  margin-left: auto;
}

.info-container:not(:hover) .info {
  opacity: 0;
}

.info-container:hover .info {
  opacity: 1;
}

footer {
  display: flex;
  flex-direction: row; /* Changez en 'column' si vous voulez les aligner verticalement */
  align-items: center;
  justify-content: space-between; /* Aligne les éléments aux extrémités */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  padding: 15px 20px; /* Ajoutez un peu de padding */
  min-height: 50px; /* Hauteur minimale pour le footer */
}

.social {
  display: flex;
  align-items: center;
}

.droits, .mentions, .conditions {
  color: white;
  font-size: 12px;
  margin: 0 10px; /* Ajoutez un espacement entre les éléments */
}

footer img {
  width: 15px;
  height: 15px;
  margin: 0 10px;
}