header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
    
#entete {
    font-size: 25%;
    text-size-adjust: 50%;
    margin: 0;
}
  
body.index {
    background-image: url('LV_Img.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
  

body.swot {
    background-color: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    overflow-x: hidden;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Chopin', serif; /* Applique la police Chopin à tout le corps */
    
}
@font-face {
    font-family: 'Chopin';
    src: url('fonts/Chopin.ttf') format('truetype'); /* Assure-toi que le chemin est correct */
}

.header {
    position: relative;
    height: 100vh; /* Hauteur de l'image d'accueil */
    overflow: hidden; /* Cache le débordement */
}

.Image_Accueil {
    width: 100%; /* L'image prendra 100% de la largeur de son conteneur */
    height: auto; /* La hauteur s'ajustera automatiquement pour maintenir les proportions */
    object-fit: cover; /* Cela permet de couvrir le conteneur sans déformer l'image */
}

.title {
    text-align: center; /* Centrer le texte */
    margin: 20px 0; /* Ajoutez un peu d'espace autour du titre */
    color: black; /* Couleur du texte */
    font-size: 3vw; /* Taille de police responsive */
    position: relative; /* Position relative pour le placer sous l'image */
    z-index: 1; /* Assurez-vous que le texte est au-dessus de l'image */
}
  
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
    
nav li {
    margin-left: 20px;
}
  
.menu {
    position: relative;
    color: #fff;
}
  
.content {
    padding-bottom: 80px;
}

footer {
    display: flex;
    flex-direction: row; /* Changez en 'column' si vous voulez les aligner verticalement */
    align-items: center;
    justify-content: space-between; /* Aligne les éléments aux extrémités */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    padding: 15px 20px; /* Ajoutez un peu de padding */
    min-height: 50px; /* Hauteur minimale pour le footer */
    z-index:2;
}

.social {
    display: flex;
    align-items: center;
}

.droits, .mentions, .conditions {
    color: white;
    font-size: 12px;
    margin: 0 10px; /* Ajoutez un espacement entre les éléments */
}

footer img {
    width: 15px;
    height: 15px;
    margin: 0 10px;
}

/* Styles pour le tableau */
table {
    width: 95%; /* Le tableau prend 100% de la largeur de son conteneur */
    border-collapse: collapse; /* Supprime les espaces entre les cellules */
    text-align: center;
    margin: auto; /* Positionne le tableau au centre */
    margin-top: 30px;

}
th, td {
    border: 1px solid black; /* Bordure des cellules */
    padding: 12px; /* Espacement à l'intérieur des cellules */
    text-align: left; /* Alignement du texte à gauche */
}


/* Media queries pour la responsivité */
@media (max-width: 600px) {
    footer {
        flex-direction: column; /* Alignez les éléments verticalement sur les petits écrans */
        height: 150px;
    }
    .droits, .mentions, .conditions {
        font-size: 10px; /* Réduisez la taille de la police */
        margin: 5px 0; /* Ajoutez un peu d'espace entre les éléments */
    }

    @media (max-width: 600px){
        .content{
            padding-bottom: 160px;
        }
    }
}

.RSE {
    padding-left: 20px;
    padding-right: 30px;
    text-align: justify;
    justify-content: center;
}

.bar {
    width: 100%; /* Prend toute la largeur de l'écran */
    height: 7px; /* Hauteur de la barre */
    background-color: #444; /* Couleur de la barre */
    margin: 20px 0; /* Espacement au-dessus et en dessous de la barre */
}

.titre {
    padding-top: 12px;
    font-size: 12px;
    text-align: center;
    }

/* Media Queries pour ajuster la hauteur de la barre sur les petits écrans */
@media (max-width: 600px) {
    .bar {
        height: 3px; /* Réduisez la hauteur de la barre sur les petits écrans */
    }
}

/* Styles pour le slider */
#slider {
    margin: 20px;
    width: 90%;
    max-width: 800px;
    text-align: center;
}

#slider input[type=radio] {
    display: none; /* Masquer les boutons radio */
}

/* Styles pour les slides */
#slides {
    padding: 5px;
    border: 3px solid #ccc;
    background: #fff; /* Fond blanc pour les slides */
    position: relative;
    z-index: 1; /* Assurez-vous que le z-index est correct */
}

#overflow {
    width: 100%;
    overflow: hidden; /* Masquer le débordement */
}

.inner {
    display: flex; /* Utiliser flexbox pour aligner les slides */
    transition: margin-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 600%; /* Largeur totale pour 6 slides */
}


.slide {
    width:  16.666%; /* Chaque slide prend 1/6 de la largeur totale */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Hauteur des slides */
    color: #fff; /* Couleur du texte par défaut */
}
.slide-content h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.slide-content {
    font-family: 'Verdana', sans-serif; /* Police pour le slide 2 */
    font-size: 14px; /* Taille de police pour le slide 2 */
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 2px solid #000;
    color: #444;
    text-align: justify;
    justify-content: space-between;
}

/* Styles de police pour chaque slide */
.slide_1 .slide-content {
    background-color: #781818;
    color: #fff
}


.slide_2 .slide-content {
    background-color: #c67622;
    color: #fff;
}

.slide_3 .slide-content {
    background-color: #d3be25;
}

.slide_4 .slide-content {
    background-color: lightgreen;
}

.slide_5 .slide-content {
    background-color: lightseagreen;
}

.slide_6 .slide-content {
    background-color: lightblue;
}

/* Styles pour les contrôles */
#controls {
    margin-top: 10px; /* Espacement au-dessus des boutons */
}

/* Couleurs spécifiques pour chaque bouton */
.button1 {
    background: #b22424; /* Vert */
}

.button2 {
    background: #c67622; /* Rouge */
}

.button3 {
    background: #d3be25; /* Jaune */
}

.button4 {
    background: lightgreen; /* Bleu */
}

.button5 {
    background: lightseagreen; /* Violet */
}

.button6 {
    background: lightblue; /* Orange */
}

/* Couleurs au survol */
.button1:hover {
    background: #f93333; /* Vert plus foncé */
}

.button2:hover {
    background: #f5932a; /* Rouge plus foncé */
}

.button3:hover {
    background: #fbe649; /* Jaune plus foncé */
}

.button4:hover {
    background: rgb(187, 251, 187); /* Bleu plus foncé */
}

.button5:hover {
    background: rgb(41, 227, 218); /* Violet plus foncé */
}

.button6:hover {
    background: rgb(206, 243, 255); /* Orange plus foncé */
}

.button {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    line-height: 30px; /* Centrer le texte verticalement */
    text-align: center; /* Centrer le texte horizontalement */
    font-weight: bold; /* Mettre le texte en gras */
}

/* Affichage des slides selon le radio sélectionné */
#slide1:checked ~ #slides .inner {
    margin-left: 0%;
}

#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
    margin-left: -300%;
}

#slide5:checked ~ #slides .inner {
    margin-left: -400%;
}

#slide6:checked ~ #slides .inner {
    margin-left: -500%;
}

#slider 
{
    margin: auto;
    width: 95%;
    z-index: 1;
    position: relative;
}

#button-container {
    padding-bottom: 70px;
}
@media (max-width: 600px){
    #button-container{
        padding-bottom: 160px;
    }
}