body {
    background-color: #111111;
    color: white;
    margin: auto;
    width: auto;
}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;
    padding: 10px;
    align-items: center;
    background: linear-gradient(to top, #111111 5%, white 10%, white 85%);
}

header h1{
    text-align: middle;
}

header a[href="acceuil.html"]{
    font-size: 20px;
    text-decoration: none;
    color:black;
    font-size: 3em;
    font-weight: bold;
}

header img  {
    width: 100px;
}

.button-image-wrapper {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
    background-image: url('barreacceuil.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    transition: transform 0.3s, opacity 0.3s;
}


.button-image-wrapper:hover {
    transform: scale(1.1); /* Agrandit légèrement le bouton */
    opacity: 0.9; /* Réduit l'opacité */
}

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
    text-align: center;
}
#menu-deroulant li {
    display: inline-block;
}
#menu-deroulant ul li {
    display: inherit;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
    color:#000;
}
#menu-deroulant ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
    left: auto;
}
#menu-déroulant{
display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
}
.menu-déroulant a{
    margin: 80px; 
    padding: 0; 
    list-style: none; /* Enlève les points des listes */ 
    box-sizing: border-box; 
    overflow: hidden;
    font-size: 32px;  
}
 /* menu-déroulant */
 .menu-déroulant {
    display: none;
    position: fixed; /* Changez position: relative à absolute */
    top: 0; /* Placez le menu directement en dessous de l'élément parent */
    left: 0; /* Alignez le menu à gauche du parent */
    margin-top: 88px; /* Espace entre le menu déroulant et les options */
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    z-index: auto;
  }
  
  .menu-déroulant ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-déroulant li {
    margin: 10px 0;
  }
  #menu-toggle:checked ~ .menu-déroulant {
    display: block; /* Affiche le menu lorsque la case est cochée */
  }
   
  /* Animations pour le menu-déroulant */
  #menu-toggle:checked + .menu-déroulant span:nth-child(1) {
    transform: translateY(12px) rotate(50deg);
  }
  
  #menu-toggle:checked + .menu-déroulant span:nth-child(2) {
    opacity: 0;
  }
  
  #menu-toggle:checked + .menu-déroulant span:nth-child(3) {
    transform: translateY(-12px) rotate(-50deg);
  }
#menu-toggle {
display: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 15px 20px 0 20px;
    color: white;
    text-decoration: none;
}

.menu > li > a:hover {
    background-color: #575757;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 150px;
    z-index: 1000;
}

.submenu li {
    border-bottom: 1px solid #555;
}

.submenu li:last-child {
    border-bottom: none;
}

.submenu a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.submenu a:hover {
    background-color: #575757;
}

.menu > li:hover .submenu {
    display: block;
}

.carousel {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    flex: 0 0 100%;
}

.carousel-item a {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.carousel-item img {
    width: 100%;
    display: block;
}

/* Navigation Buttons */
.carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-nav label {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-nav label:hover {
    background: #666;
}

blockquote{
margin: 0;
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, sans-serif;
text-align: center;
font-size: 1.5em;
font-style: italic;
color: white;
padding-left: 15px;
}

/* Input styling */
input[type="radio"] {
    display: none;
}

#slide1:checked ~ .carousel-track {
    transform: translateX(0%);
}

#slide2:checked ~ .carousel-track {
    transform: translateX(-100%);
}

#slide3:checked ~ .carousel-track {
    transform: translateX(-200%);
}

#slide4:checked ~ .carousel-track {
    transform: translateX(-300%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main img {
    display: block;
    margin: 20px auto;
}

main h5 {
    text-align: center;
}
