@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Forum&family=Nobile:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #536942;
  --secondary: #4fbdba;
  --strength-color: #b9f9d7;
  --weakness-color: #f6b4b4;
  --opportunity-color: #addaff;
  --threat-color: #f9bca9;
  --white: #efefef;
}

body {
  font-family: "DM Sans", sans-serif;
  color: var(--primary);
  line-height: 1.6;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("img/scrub-daddy.jpg");
  background-position: bottom center;
  background-size: cover;
  color: var(--white);
  text-align: center;
}

/*Nav bar*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary);
  padding: 0 20px;
  height: 88px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label.logo {
  font-size: 25px;
  font-weight: bold;
  color: var(--white);
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-list a {
  color: var(--white);
  text-decoration: none;
}

.nav-list a.active {
  font-weight: bold;
}

.main-content {
  padding: 100px 20px;
}

.main-content h1 {
  margin-bottom: 10px;
}

.main-content .intro-heading {
  font-size: 50px;
}

.main-content .main-heading {
  font-size: 100px;
}

.main-content p {
  max-width: 300px;
  margin: 20px auto;
}
nav ul li a {
  color: #fafafa;
  font-size: 16px;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 3px;
  transition: background 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
  background: #296967;
  transform: scale(1.05);
}
.btn-primary {
  padding: 12px 20px;
  background: var(--secondary);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background-color: #226b65;
  transform: scale(1.05);
}

.section-title h1 {
  margin-top: 80px;
  font-size: 40px;
  text-align: center;
}

.section-title .line {
  width: 150px;
  height: 4px;
  background: var(--secondary);
  margin: 10px auto;
  margin-bottom: 70px;
}

.service {
  text-align: center;
  max-width: 350px;
}

/*ABOUT US */
#about-us {
  padding: 80px 20px;
  background-color: #f9f9f9;
}

#about-us .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

#about-us .about-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#about-us .about-content h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary);
  text-transform: uppercase;
  letter-spacing: 2px;
}

#about-us .about-content h1 {
  font-family: "Forum", sans-serif;
  font-size: 28px;
  line-height: 1.4;
}

#about-us .about-content p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary);
}

#about-us .about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*Swot cards*/
.swot-section {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0;
  gap: 20px;
  flex-wrap: wrap;
}

.swot-card {
  width: 500px;
  height: auto;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  transition: transform 0.3s ease;
}

.swot-card:hover {
  transform: scale(1.05);
}

.strengths {
  background-color: var(--strength-color);
  color: #fff;
}

.weaknesses {
  background-color: var(--weakness-color);
  color: #fff;
}

.opportunities {
  background-color: var(--opportunity-color);
  color: #fff;
}

.threats {
  background-color: var(--threat-color);
  color: #fff;
}

.swot-card h3 {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.points-list {
  list-style: none;
  padding: 0;
}

.points-list li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333;
}

.points-list li::before {
  content: "➔";
  position: absolute;
  left: 0;
  color: #fff;
  font-size: 1.2rem;
}
.title {
  text-align: center;
  margin-top: 60px;
}

.title h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #006f6b;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 3px solid #6abf91;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/*Questions*/

#questions {
  padding: 80px 20px;
  background-color: #f9f9f9;
  color: var(--primary);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 90px;
}

#questions p {
  font-size: 1.1rem;
  line-height: 1.8;
  max-width: 650px;
  margin: 0 auto 30px;
  color: var(--primary); 
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 40px; 
  margin-top: 30px;
}

.contact-item {
  text-align: left;
}

.contact-item p {
  font-size: 1rem;
  margin: 5px 0;
  color: #333;
  font-weight: 500;
}

.contact-item p:hover {
  color: #4e73df;
  cursor: pointer;
}

/* footer */
footer {
  background-color: var(--secondary);
  color: var(--white);
  padding: 40px 20px;
  text-align: center;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

footer .footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

footer .footer-links li {
  display: inline-block;
}

footer .footer-links a {
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

footer .footer-links a:hover {
  color: var(--primary);
}

footer p {
  font-size: 0.9rem;
  font-weight: 400;
}

/*responsivite*/
@media (max-width: 858px) {
  body {
    padding: 0 10px;
  }

  header {
    background-position: center;
    padding: 50px 10px;
  }

  header .intro-heading {
    font-size: 24px;
  }

  header .main-heading {
    font-size: 50px;
  }

  nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  footer .container {
    gap: 10px;
  }

  footer .footer-links {
    flex-direction: column;
    gap: 10px;
  }

  footer .footerLogo {
    max-width: 100px;
  }
}
