/* HEADER */ /* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */
html {
  overflow-x:hidden;
}



.navbar {
    background-color: #eceaea;
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Utilisez Flexbox */
    align-items: center;
    align-items: stretch; /* Étire les éléments verticalement */
    height: 100%;
}

.navbar li {
 display:flex;
}

.navbar a {
    display: flex;
    align-items: center;
    color:#525252;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    overflow: hidden;
    border-radius: 10%;
}

.navbar a::after , .navbar_tel a::after{
    content: '';
    position: absolute;
    margin-bottom: 2px;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #000000;
    transition: width 0.5s ease, left 0.5s ease;
}

.navbar a:hover::after , .navbar_tel a:hover::after{
    width: 100%;
    left: 0;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #b1311a;
    color: white;
}

.navbar img{
    width: 100px;

}

.navbar_tel ul{
  display: none;
}

.toggle-input, .toggle-label {
  display: none;
}

.search-container {
  border: 2px solid #eceaea;
  border-radius: 25px;
  padding: 5%;
  background-color: #eceaea;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 30px;
  margin: auto ;
  width: 85%;
  

}
.search-container a{
  padding-right: 30px !important;
  padding-left: 10px !important;
  margin-bottom: 100px !important;
  

}

.search-input {
  border: none;
  outline: none;
  background-color: #eceaea;
  display: flex;
  border-radius: 25px;
  margin-top: 5%;

  
}

.search-button {
  display: flex !important;
  border-radius: 25px !important; 


}

.search-button a {
  display: flex !important;
  border-radius: 25px !important;

}

.search-button:hover {
  background-color:#8d8d8d; /* Couleur au survol */
}

#imginscr{
  margin-top: 50% !important;
  height: 25px;
  width: 25px;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position:fixed;
  top: 0; right: 0;
  bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal_content {
  border-radius: 4px;
  position: relative;
  width: 400px;
  height: 650px;
  background: rgba(217,217,217,255);
  padding: 1.5%;
  border-radius: 2.5%;
  position:relative;
  display:inline-block;
}

.modal_close {
  position: absolute;
  top: 0.5%;
  right: 2%;
  color: grey;
  background: rgba(217,217,217,255);
  text-decoration: none;
  padding: 2%;
}

.Formulaire{
  position:relative;
  width:100%;
  display:inline-block;
}

.Formulaire .champ{
  position:relative;
  width:92%;
  height:50px;
  float:left;
  color: grey;
}

.milieu {
  position:relative;
  width:97%;
  margin-top: 15%;
  margin-bottom: 15%;
  display:inline-block;
  height: 95%;
}

.milieu h2 {
  color: #000;
  position:relative;
  width:100%;
  word-wrap: break-word;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-weight:600;
  line-height: normal;
  font-size: 32px;
  letter-spacing: 0.4px;
  float:left;
  margin-top: 3%;
  margin-bottom: 3%;
}

.milieu h4 {
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-top: 5%;
  margin-bottom: 3%;
}



#nomprenom {
  background-image:url(Image/nom_inscription.png);
  background-position:left;
  background-size: 5%;
  background-position-x: 2%;
  background-repeat:no-repeat;
  padding-left:9%;
  width: 91%;
}

#email {
  background-image:url(Image/email.png);
  background-position:left;
  background-size: 5%;
  background-position-x: 2%;
  background-repeat:no-repeat;
  padding-left:9%;
  width: 91%;
}

#suivantbouton {

  display: flex;  
  padding: 3%;
  justify-content: center;
  align-self: stretch;
  background: #050A11;
  width: 97%;
  text-align: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 14px;
  font-style: normal; 
  font-weight: 530;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-top: 8%;
  margin-bottom: 1%;
  text-transform: initial !important;
}

.milieu p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: rgba(18, 18, 18, 0.60);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  width: 100%;
  position:relative;
  display:inline-block;
  text-align: center;
}

#connectez {
  color: #000;
  background: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.4px;
  text-decoration-line: underline;
  text-transform: initial !important;
  position:relative;
  word-wrap: break-word;
}

.ou {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  position:relative;
  gap: 8%;
}

.ou h6 {
  height: 0.005%;
  font-size: 1px;
  border-radius: 50%;
  background: #000;
  width: 100%;
  position:relative;
  display: flex;


}

.ou p {
  color: rgba(18, 18, 18, 0.60);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  width: 5%;
  text-align: center;
  position:relative;
  display: flex;

}

.Google {

  display: flex;  
  padding: 3%;
  justify-content: center;
  background-image:url(Image/google.png) ;
  background-color: white ;
  background-repeat: no-repeat;
  background-size: 5%;
  background-position-x: 5%;
  background-position-y: 50%;
  align-self: stretch;
  width: 100%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 18px;
  font-style: normal;
  font-weight: 530;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-top: 5%;
  margin-bottom: 1%;
  text-transform: initial !important;
  overflow: hidden;
}



@media (max-width: 1100px) {
  .Google {
      background-image: none;
  }
  #nomprenom {
      background-image: none;
  }
  #email {
      background-image: none;
  }


}



/* BODY */ /* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY */

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.remonter{
  position: fixed; /* Recommandé plutôt que absolute */
  right: 20px; /* Plus précis que le pourcentage */
  bottom: 20px;
  z-index: 1000; /* Assure que l'élément soit au-dessus des autres */
  height: 40px;
  background: transparent;
  color: white;
  border-radius: 50%; /* Bouton rond */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: gradientAnimation 10s ease infinite;
  border: solid black
}

.remonter.hidden {
  display: none;
}

.remonter ,.remonter img{
width: 40px;

}

@keyframes gradientAnimation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

@property --gradient-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-content {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 400%;
  animation: slide 20s infinite;
}

.carousel-content li {
  width: 25%;
}

.carousel-content img {
  width: 100%;
  height: auto;
}

@keyframes slide {
  0% { transform: translateX(0); }
  25% { transform: translateX(-25%); }
  50% { transform: translateX(-50%); }
  75% { transform: translateX(-25%); }
  100% { transform: translateX(0); }

}

h1{

  text-align: center;
}

.container_cardbox {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto; /* Centre le conteneur horizontalement */
  flex-wrap: wrap; /* Permet aux cardbox de passer à la ligne si nécessaire */
  gap: 20px; /* Espace entre les cardbox */
  padding: 20px; /* Espace autour du conteneur */
}

.cardbox {
  display: flex;
  flex-direction: column; /* Empile les éléments verticalement */
  width: 600px; /* Largeur réduite pour permettre plusieurs cardbox par ligne */
  max-width: 100%; /* S'adapte aux petits écrans */
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-out, box-shadow 0.3s ease;
}


.cardbox:hover {
  transform: translateY(-5px);
  background-color: #e4e4e4;
  
}

.cardbox img {
  transition: transform 0.4s ease;
  width: 100%;
  height: 200px; /* Hauteur fixe */
  object-fit: inherit; /* Couvre toute la zone */
  object-position: center;
}

.cardbox img:hover {
  transform: scale(1.1); /* Zoom de 10% */
}

.cardbox a{
  text-decoration: none;
  color:#000000;
}

.cardbox img {
  width: 100%;
  height: auto;
}

.cardbox h3 {
  padding: 15px;
  margin: 0;
  font-size: 18px;
  text-align: center;
  
  
}

.cardbox p {
  padding: 0 15px 15px;
  margin: 0;
  font-size: 14px;
  text-align: center;
}

/* FOOTER   FOOTER   FOOTER *//* FOOTER   FOOTER   FOOTER *//* FOOTER   FOOTER   FOOTER */
footer {
border-top: 1px solid #525252;
background-color: #e6e6e6;
color: #000000;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

footer a:hover{
  text-decoration: underline;
  
}


#titre_pc{
  font-size: medium;
  font-weight: bold;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.footer-section{
  display: flex;
}

.footer-section li{
  list-style-type: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.footer-section a {
  color: #000000;
  text-decoration: none;
}


.titre_footer {
  font-size: 20px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 0 10px;
}

.footer-bottom a,.footer-bottom p {
  color:#525252;
  font-size: small;
  margin-right: 5px;
  text-decoration: none;
}

.footer-bottom img{
  margin-right: 2px;
}

#footer-logo {
  width: 100px;

}

#droit{
  margin-right: 50px;
}

.toggle-input, .toggle-label {
  display: none;
}

.footer-section li:hover{
  font-size: large;
  box-shadow: inset 100px 0 100px -100px #f02400;
}




@media (max-width: 768px) {
  /* HEADER */ /* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */

  .navbar li:not(#haut){
    display: none;
  }

  .navbar_tel .toggle-label{
    display: flex;
    position: absolute;
    justify-content: center;
    top: 15px;
    right: 20px;
    width: 80px;
    height : 50px;
    border-radius: 10%;
  }

  .toggle-label img {
    transition: transform 0.3s ease; /* Ajoute une transition fluide */
  }

  .toggle-input:checked + .toggle-label img {
    transform: scaleY(-1); /* Retourne l'image verticalement */
  }


  .toggle-input:checked + .toggle-label + ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    /* align-items: stretch; Étire les éléments verticalement */
    height: 100%;
  }

  .navbar_tel li{
    width: 100%;
  }

  .navbar_tel a{
    display: flex;
    align-items: center;
    justify-content: center; 
    color:#525252;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    width: 100%;
  }

  .navbar_tel li:hover{
    background-color: #ddd;
    width: 100%;
    color: black;
  
  }

  /* body */



  /* FOOTER   FOOTER   FOOTER */
  .toggle-input {
    display: none;
  }

  .toggle-label {
    display: block;
    padding: 20px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
  }

  .footer-section img{
      width: 30px;
      margin-left: 10px;
      position:absolute;
      right: 10%;
  }

  .footer-section li:hover{
  background-color: #f02400;;
  box-shadow: inset 200px 0 100px -100px #e6dfcd;
  }

  .footer-section .titre{
    display: none;
  }

  .footer-links, #titre_pc {
    display: none;
    font-size: medium;
  }

  .footer-section label{
    border-top: 1px solid #525252;
  }

  .footer-section{
    display: flex;
    flex-direction: column;
  }

  .toggle-input:checked + .toggle-label + .footer-links {
    display: block;

  }

  .footer-links li {
    list-style-type: none;
    padding: 10px;
  }
  /* FOOTER   FOOTER   FOOTER */
}