@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(Assets/Image/Background\ login.webp);
  background-size: cover;
}

.boite {
width: 420px;
border: solid 2px rgba(255, 255, 255, .2);
backdrop-filter: blur(10px);
box-shadow: 0 0  10px rgba(0, 0 , 0, .2);
color: #fff;
border-radius: 10px;
padding: 30px 40px;
background-color: transparent;
}

.boite .cross {
  position: absolute;
  right: 20px;
  transform: translateY(-50%);
  font-size: 35px;
  cursor: pointer;
}

.boite .cross .a{
  color: black;
  text-decoration: none;
}
.boite h1{
  font-size: 36px;
  text-align: center;
}

.boite .input-box{
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input ::placeholder{
  color: #fff;
}

.input-box i{
  position: absolute;
  right: 20px;
  transform: translateY(-50%);
  font-size: 20px;
}

.boite .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
  transition: ease 0.5s;
}

.boite .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0 , 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.boite .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
  transition: ease 0.5s;
}

.boite .btn:hover{
  background: #ddd9d9;
  transition: ease 0.5s;
}
