@import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

* {
  font-family: "Inter", sans-serif;
  list-style-type: none;
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  color: #080808;
}

.menu .connexion a {
  display: inline-block;
  width: 110px;
  margin: 5px;
  background-color: black;
  border-radius: 20px;
  padding: 5px;
  color: #fff;
}

.menu .connexion a:hover {
  background-color: #c8c8c8;
  color: black;
}

.menu .connexion a:active {
  color: #739aff;
}

header .menu .logo {
  font-size: 2rem;
  margin: 10px;
}

header img{
  width: 40%;
}

header .menu {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.menu .recherche {
  width: 70%;
  height: 2px;
  margin: 30px;
}


.recherche {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
}

.recherche input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid grey;
  border-radius: 20px;
  font-size: 12px;
  color: black;
  padding: 20px 35px 20px 10px;
  overflow: hidden;
}

.recherche input ::placeholder {
  color: black;
}

.recherche i {
  position: absolute;
  right: 5px;
  font-size: 24px;
  color: grey;
}

.menu a {
  text-decoration: none;
  color: black;
}
.menu li {
  text-decoration: none;
  min-width: 100px;
  margin: 10px 50px;
  text-align: center;
  position: relative;
}

.menu li a:hover {
  color: rgb(96, 96, 96);
}
.menu li a:active {
  color: #739aff;
}

.menu .sousmenu {
  display: none;
  padding: 0;
  margin: 15px;
  position: absolute;
  top: 100%;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  background-color: #f8f8f8;
  transition: opacity 0.5s ease, max-height 0.5s ease;
  z-index: 1000;
  width: 150px;
  margin: 0 auto;
}

.menu .sousmenu li {
  float: none;
  margin: 20px;
  padding: 0;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
}

.menu .sousmenu li a:hover {
  color: rgb(96, 96, 96);
}

.menu li a:hover .sousmenu {
  display: block;
}

.menu li:hover .sousmenu {
  display: block;
  opacity: 1;
  max-height: 500px;
}

.section1 {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: url(Assets/Image/section\ 1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section1 h1 {
  margin: 0;
  font-size: 4vw;
  padding-top: 100px;
}

.section1 h2 {
  font-size: 40px;
}

.section1 p {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  color: #ffffff;
}

.texte-section1 {
  text-align: center;
  color: white;
}

.btn-section1 {
  display: block;
  width: 125px;
  height: 60px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 20px;
  color: #5a5a5a;
  font-weight: 600;
  margin: 0 auto;
}

.section .btn-section1 {
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
}

.btn-section1 a {
  display: block;
  text-decoration: none;
  color: #5a5a5a;
  padding-top: 15px;
  text-align: center;
}

.btn-section1:hover {
  background-color: #9d9d9d;
  transition: ease 0.5s;
}

.btn-section1 a:hover {
  color: #ffffff;
  background-color: #9d9d9d;
  transition: ease 0.5s;
}

.section2 {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-color: #f4ebec;
  padding-top: 200px;
}
.left {
  padding: 0 50px;
}
.left h2 {
  font-size: 50px;
}
.left h3 {
  margin: 10px 0 15px 150px;
  font-size: 30px;
}
.btn-section2 {
  margin: 0 0 0 250px;
  background-color: #d4d4d4;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 140px;
  transition: ease 0.5s;
}
.btn-section2 a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.btn-section2:hover {
  background-color: #a9a9a9;
}

.right img {
  width: 709px;
  height: 450px;
  border-radius: 25px;
  transition: ease 0.5s;
}

.right img:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  transform: translateX(5px);
  transform: translateY(-5px);
}

#section2Container {
  display: flex;
  justify-content: center;
}

/* Début de la section 3 */
.section3 {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-color: #daeaf9;
  padding-top: 200px;
}

.section3 .right {
  padding: 0 50px;
}
.section3 .right h2 {
  font-size: 50px;
}

.section3 .right h3 {
  margin: 10px 0 15px 150px;
  font-size: 30px;
}

.section3 .btn-section3 {
  margin: 0 0 0 250px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 140px;
  transition: all 0.5s ease-in-out;
}
.section3 .btn-section3:hover {
  background-color: #a9a9a9;
}
.section3 .btn-section3 a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.section3 .left img {
  width: 709px;
  height: 450px;
  border-radius: 25px;
  transition: ease 0.5s;
}

.section3 .left img:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  transform: translateX(5px);
  transform: translateY(-5px);
}

#section3Container {
  display: flex;
  justify-content: center;
}

.section3 #section3Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 20px;
}


.section4 {
  margin: 0;
  padding: 0;
  height: 110vh;
  width: 100vw;
  background: url(Assets/Image/section4-min.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section4 h1 {
  margin: 0;
  font-size: 50px;
  padding-top: 20px;
  text-align: center;
  color: black;
  backdrop-filter: blur(5px);
}

.flexbox ul {
  padding: 80px;
  display: flex;
  justify-content: space-around;
}

.flexbox li {
  list-style: none;
  height: 500px;
  width: 400px;
  margin: 10px;
  background: turquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(15px);
  border: 1px solid grey;
  flex-direction: column;
  transition: ease 0.5s;
}
.flexbox li:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
  transform: translateX(5px);
  transform: translateY(-5px);
}


.boite1 img {
  height: 100px;
  padding-top: 50px;
}

.boite2 img {
  height: 200px;

}

.boite3 img {
  height: 250px;
  box-sizing: border-box;
  padding: 5px;
}

.boites {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-section4 {
  display: block;
  height: 40px;
  background: #f9f9f9;
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #5a5a5a;
  font-weight: 600;
  margin-bottom: 100px;
  margin-top: auto;
}

.btn-section4 a {
  display: block;
  text-decoration: none;
  color: #999999;
  padding-top: 5px;
  text-align: center;
}

.btn-section4:hover {
  background-color: #c3c0c0;
  transition: ease 0.5s;
}

.btn-section4 a:hover {
  color: #f9f9f9;
  transition: ease 0.5s;
}

.section4 p {
  color: white;
  margin: 10px;
}

.section4 .texte1 {
  padding-top: 100px;
}

.section4 .texte {
  padding-top: 200px;
}

.btn-section4 i {
  color: #999999;
}

/* Footer */

.section5 {
  height: 30vh;
  width: 100vw;
}
ul {
  display: flex;
  justify-content: space-between;
  padding: 80px;
}
#section5-reseaux-sociaux {
  font-size: 30px;
}
#section5-reseaux-sociaux-icones {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.section5-li {
  font-size: 20px;
}
.section5 nav ul li a img {
  width: 210px;
  height: 60px;
}

.section5 nav ul li a {
  text-decoration: none;
  color: black;
}
#section5-chevron-up {
  text-align: center;
  margin-top: -120px;
  background-color: #d1d5d9;
  border-radius: 50%;
  width: 3.5%;
  height: 25%;
  margin-left: 700px;
  
}
#section5-chevron-up a {
  padding: 10px;
  font-size: 20px;
  color: white;
}
#chevron-icon {
  padding-top: 15px;
}

/* Début de la section 6 */

.section6 {
  background-color: black;
  height: 11vh;
  width: 100vw;
}

.section6 div p {
  color: white;
  text-align: center;
  padding-top: 28px;
}

img {
  max-width: 100%;
  height: auto;
}

.cacher{
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}



@media (max-width: 1100px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .menu li {
    margin: 0;
    width: 100%;
    text-align: left;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }

  .menu li a {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
  }

  .section2 {
    padding-top: 100px;
  }
  
  #section2Container {
    flex-direction: column;
    align-items: center;
  }

  .left,
  .right {
    width: 100%;
    padding: 10px;
  }

  .right img {
    width: 100%;
    height: auto;
  }

  .btn-section2 {
    margin: 0 auto;
  }



  .section2,
  .section3 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #section2Container,
  #section3Container {
    flex-direction: column;
    align-items: center;
  }

  .section2 .left,
  .section2 .right,
  .section3 .left,
  .section3 .right {
    width: 100%;
    padding: 10px;
  }

  .section2 .right img,
  .section3 .left img {
    width: 100%;
    height: auto;
  }

  .section2 .left h2,
  .section3 .right h2 {
    font-size: 28px;
    text-align: center;
  }

  .section2 .left h3,
  .section3 .right h3 {
    font-size: 24px;
    text-align: center;
  }

  .section2 .btn-section2,
  .section3 .btn-section3 {
    margin: 20px auto;
    display: block;
  }
}

@media (max-width: 1425px){
  .section2, .section3, .section4 {
    padding-top: 50px; 
    padding-bottom: 500px; 
  }
  
  .section4 { 
    height: auto; 
    padding: 20px; 
  } 

  .flexbox ul { 
    flex-direction: column; 
    padding-left: 10px;
    padding-right: 50px; 
  } 

  .flexbox li { 
    width: 100%; 
    margin: 10px 0; 
  } 

  .boite1 img, .boite2 img, .boite3 img { 
    width: 80%; 
    height: auto; 
    min-width: 125px; 
    min-height: 125px; 
  } 
  
  .btn-section4 { margin: 0 auto; }

    .section5 {
      height: auto; padding: 20px; 
     } 
 
   .section5 nav ul {
      flex-direction: column; align-items: center; 
     } 
 
   .section5 nav ul li {
      margin: 10px 0; text-align: center; 
     } 
 
   #section5-chevron-up {
      margin: 20px auto; width: 50px; height: 50px; 
     } 
 
   #section5-chevron-up a {
      font-size: 24px; 
     } 
 
   .section6 { 
     height: auto; padding: 10px; 
   } 
 
   .section6 div p { 
     padding: 10px 0; 
   }
}

@media(max-width:700px){
  .section2, .section3{
    padding-bottom: 400px;
  }
}

@media(max-width:500px){
  .section2, .section3{
    padding-bottom: 200px;
  }
  .section1 h1 {
    font-size: 13vw;
  }

  .section4, .section5, .section6{
    width: 90%;
  }
}

