@import url('https://fonts.googleapis.com/css?family=Roboto');

/* CSS de toute les pages */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CSS de la page principale */
.container {
    width: 90%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.card .image {
    background-color: #d3d3d3;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.card .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card .text b {
    font-size: 1.2em;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    font-weight: b;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c1bdbd;
}

.texte-section {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.large-text {
    background-color: #d3d3d3;
    padding: 50px;
    font-size: 2em;
    font-weight: b;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .sources {
        position: relative;
        text-align: center;
        margin-top: 20px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 2px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left .logo {
    height: 40px;
    margin-right: 10px;
}

.nav-left .logo:hover{
    cursor: pointer;
}

.nav-right ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-right ul li a {
    text-decoration: none;
    font-weight: b;
    color: black;
    transition: color 0.3s ease;
}

.nav-right ul li a:hover {
    color: #555;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-right ul {
        flex-direction: column;
        gap: 10px;
    }
}

.carousel-item img {
    height: 85vh;
    object-fit: cover;
}

.carousel-item img:hover{
    cursor: pointer;
}

.carousel-control-prev,
.carousel-control-next {
    color: rgb(255, 255, 255);
    font-weight: b;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(255, 255, 255);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.carousel-control-prev:focus,
.carousel-control-next:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

.footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 2px solid #ddd;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

.footer-left h3 {
    margin-bottom: 10px;
}

.footer-right {
    text-align: right;
}

.footer-right .location {
    display: flex;
    align-items: center;
}

.footer-right .location i {
    margin-right: 5px;
}

.footer-right p {
    margin: 5px 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: black;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #555;
}

/* CSS de la page SWOT.html */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
td[colspan] {
    text-align: center;
    background-color: #f4f4f4;
    font-weight: bold;
}

/* CSS de la page RSE.html */
h2{
    text-decoration: underline;
}

.ul-rse{
    padding: 4vh;
}

/* CSS de la page PESTEL.html */
.pestel{
    padding: 4vh;
}

/* CSS de la page PORTER.html */
.ul-porter{
    padding: 4vh;
}

/* CSS de la page ANALYSE-EXTERNE.html */
.ul-externe{
    padding: 4vh;
}

.p-concurrence{
    padding: 4vh;
}