body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    background-color: #f9f9f9;
    color: #F0F0F0;
}

h1 {
    text-align: center;
    font-size: 3.2rem;
    color: #F0F0F0;
    margin: 20px 0;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    padding-left: 15px;
    color: #F0F0F0;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.flex-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.flex-container img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Rose {
    background: linear-gradient(135deg, #f0a3ff, #f09cf1);
    color: white;
    padding: 20px;

}

.Vert {
    background: linear-gradient(135deg, #56a65a, #79c278);
    color: white;
    padding: 20px;

}

.Jaune {
    background: linear-gradient(135deg, #FFD700, #ffd900);
    color: white;
    padding: 20px;

}

.Brun {
    background: linear-gradient(135deg, #daa65d, #bf914f);
    color: white;
    padding: 20px;

}
.Bleu {
    background: linear-gradient(135deg, #2737e4, #0b38cd);
    color: white;
    padding: 20px;

}

p {
    margin: 10px 0;

    line-height: 1.8;
    text-size-adjust:initial;
}