body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #F0F0F0;
    margin: 20px 0;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    color: #F0F0F0;
    margin-bottom: 10px;
    padding-left: 15px;
}

.flex-container {
    display: flex;
    align-items:center;
    justify-content:space-between;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.flex-container img {
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.flex-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.Rouge {
    background: linear-gradient(135deg, #c61c05, #ea391d);
    color: white;
    padding: 20px;
}

.Vert {
    background: linear-gradient(135deg, #56a65a, #79c278);
    color: white;
    padding: 20px;
}

.Bleu {
    background: linear-gradient(135deg, #457cee, #6a92ff);
    color: white;
    padding: 20px;

}

p {
    margin: 20px 0;

    line-height: 1.8;
}

