/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    line-height: 1.6;
    color: #333;
  }
  
  h1, h2 {
    color: #e60012;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  /* Header */
  .header {
    background-color: #e60012;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .hero {
    margin-top: 20px;
    position: relative;
  }
  
  .logo {
    width: 40%;
    max-width: 400px;
  }
  
  .characters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .characters img {
    margin: 1%;
    width: 10%;
    height: auto;
    max-width: 100px;

    object-fit: contain;
  }
  
  /* Main Content */
  .content {
    padding: 20px;
    margin:10%;
  }
  
  .history {
    list-style: none;
    padding: 0;
  }
  
  .history li {
    margin-bottom: 30px;
  }
  
  .history img {
    width: 100px;
    display: block;
    margin: 10px auto;
  }
  
  /* Footer */
  footer {
    background-color: #e60012;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
  }

  .navbar .home-icon img {
    width: 100px;
    height: auto;
    vertical-align:middle;
  }
  

  .nav-links {
    display: flex;
    gap: 20px;
    margin: 0 auto;
}