
/*---TOTALITY---*/
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none; /* Cache les barres dans Chrome, Safari et Edge */
}


/*---HEADER ALL PAGE---*/

/* Style pour le conteneur du menu
   Reset général */
header li {
  margin: 0px; 
  padding: 0; 
  list-style: none; /* Enlève les points des listes */ 
  box-sizing: border-box; 
  overflow: hidden;
}
.menu-options a{
  margin: 80px; 
  padding: 0; 
  list-style: none; /* Enlève les points des listes */ 
  box-sizing: border-box; 
  overflow: hidden;
  font-size: 32px;  
}
header li div{
  width: 0%;
  height: 3px;
  background-color: #000;
}
header li:hover>div{
  width: 80%;
  transform: translateX(80px);
}
header ul{
  margin: 0; 
  padding: 0; 
  list-style: none; /* Enlève les points des listes */ 
  box-sizing: border-box; 
  overflow: hidden;
}
header a {
  margin: 0px; 
  padding: 0;
  list-style: none; /* Enlève les points des listes */ 
  box-sizing: border-box; 
  overflow: hidden;
}
header { /* Structure de l'en-tête */
  display: flex;
  justify-content: space-between; /* Distribution gauche-centre-droite */
  align-items: center; /* Alignement vertical centré */
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
  position: fixed; /* Fixe l'en-tête en haut de la page */
  top: 0; /* Positionne l'en-tête en haut */
  width: 100%; /* Assure que l'en-tête occupe toute la largeur de la page */
  z-index: 1000; /* S'assure que l'en-tête reste au-dessus des autres éléments */
  height: 88px;
}
/* Section gauche : Menu */
.menu-container {
  display: flex;
  align-items: center;
  position: relative; /* Ajoutez cette ligne pour positionner .menu-options par rapport à .menu-container */
  margin-left: 2%;
}
#menu-toggle {
  display: none;
}
.menu-hamburger {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  margin-right: 10px;
}
.hamburger-icon span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  border-radius: 2px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
.menu-text {
  font-size: 16px;
  color: #333;
  font-weight: bold;

}
/* Section centrale : Louis Vuitton */
.brand-name h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #000;
  white-space: nowrap;
  margin: 0;
  transform: translateX(55px);
}
.brand-name a {
  text-decoration: none; /* Retire le soulignement */
  color: #000; /* Couleur noire */
}
/* Menu Options */
.menu-options {
  display: none;
  position: fixed; /* Changez position: relative à absolute */
  top: 0; /* Placez le menu directement en dessous de l'élément parent */
  left: 0; /* Alignez le menu à gauche du parent */
  margin-top: 88px; /* Espace entre le menu hamburger et les options */
  width: 30%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  z-index: auto;
}
.menu-options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-options li {
  margin: 10px 0;
  }
.menu-options a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
#menu-toggle:checked ~ .menu-options {
  display: block; /* Affiche le menu lorsque la case est cochée */
}
/* Section droite : Contact + Réseaux sociaux */
.contact-section {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacement entre les éléments */
  margin-right: 1%;
}
.contact-section h4 {
  font-size: 16px;
  margin-right: 10px;
  color: #333;
}
.social-media {
  display: flex;
  gap: 10px; /* Espacement entre les icônes */
  transform: translateX(-10px);
}
.social-media img {
  display: block;

}
/* Animations pour le menu hamburger */
#menu-toggle:checked + .menu-hamburger span:nth-child(1) {
  transform: translateY(12px) rotate(50deg);
}
#menu-toggle:checked + .menu-hamburger span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + .menu-hamburger span:nth-child(3) {
  transform: translateY(-12px) rotate(-50deg);
}
#menu-toggle:checked ~ .main-content {
   overflow: hidden; 
}
  

/*---FOOTER ALL PAGE---*/

footer {
  border-top: 1px solid #ccc;
}
.liens {
  display:flex;
  margin-top:35px;
  justify-content: space-around;
}
footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
    text-decoration: underline;
}
footer h1{
  margin:40px;
  text-align: center;
  font-size: 35px;
  color: rgb(0, 0, 0);
}


/*---MAIN ACCUEIL---*/

.main-content {
  padding-top: 88px; /* Ajustez cette valeur en fonction de la hauteur de votre en-tête*/ 
  height: 82vh; /* Utilise toute la hauteur de la fenêtre*/
  overflow-y: scroll; /* Permet le défilement vertical */
  -ms-overflow-style: none;  /* Masque la barre de défilement sur Internet Explorer et Edge */
  scrollbar-width: none;  /* Masque la barre de défilement sur Firefox */ 
}
main { /**/
    width: 100vw;
    font-size: 30px;
    margin-top: 88px;
    margin-bottom: 20vh
}
.grd_img {
    width: 100%;
    height: auto;
    
}
main h2 {
    margin-top: 5%;
    padding-top:88px ;
    text-align: center;
}
.img_lien{
    display:flex; /* permet de faire une boite flexible*/
    flex-direction: row; /*permet que les images soient en lignes*/
    margin-top: 5%;
    justify-content: center;
}
.interne{
    display:flex;
    flex-direction: column; /*permet que le titre de l'image sois en dessous d'elle*/
    align-items: center;
    margin-right:10%;
    color:black;
}
.interne a{
    color: rgb(0, 0, 0);
    text-decoration:none;
}
.interne h4 {
    text-align: center;
}
.externe{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left:10%;
    color: black;
}
.externe a{
    color: rgb(0, 0, 0);
    text-decoration:none;
}
.externe h4 {
    text-align: center;
}


/*---MAIN PRESENTATION---*/
.presentation {
  display: flex;
  height: 100vh;
}
.pres_photos {
  width: 50vw;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  scrollbar-width: none;
}
.pres_photos::-webkit-scrollbar { /* Cacher barre defilement */
  display: none;
}
.pres_photos img{ /* pr firefox */
  width:100%;
  margin-bottom: -7px;
}
.pres_texte {
  width: 50vw;
  height: 100%;
  overflow: hidden;
  padding: 5%;
  text-align: center;
}


/*---MAIN INTERNE---*/
.img-interne{
  width:100vw;
}
.moitiee-1{
  display: flex;
  flex-direction: row;
}
.moitiee-1 p{
  text-align: justify;
}
.quart-1{
  width:65%;
  padding-left: 5%;
}
.quart-2{
  width:35%;
  height: auto;
  padding: 4%;
}
.quart-2 table {
  font-size: 80%;
  width: 100%;
  border-collapse: collapse;
}
.quart-2 {
  text-align: center;
}
.quart-2 th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
.quart-2 td:first-child {
  width: 30%;
}
.quart-2 td:last-child {
  width: 70%;
}
.moitiee-2{
  display: flex;
  flex-direction: row;
}
.moitiee-2 p{
  text-align: justify;
}
.quart-3{
  width:25%;
  padding-top: 3%;
  padding-left: 5%;
}
.quart-3 img {
  width: 100%;
}
.quart-4{
  width:75%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
}
.lien-AE{
  margin-top: 3%;
  font-size: 150%;
  text-align: center;
}
.lien-AE a{
  text-decoration: none;
  color: black;
  font-style: italic;
}
.lien-AE a:hover {
  text-decoration: underline;
}


/*---MAIN EXTERNE---*/
.moitiee-2_1{
  display: flex;
  flex-direction: row;
  text-align: justify;
}
.quart-2_1{
  width:75%;
  padding-left: 5%;
}
.quart-2_2{
  width:25%;
  height: auto;
  padding: 5%;
}
.quart-2_2 img{
  width: 100%;
}
.moitiee-2_2{
  display: flex;
  flex-direction: row;
  text-align: justify;
}
.quart-2_3{
  width:25%;
  padding-top: 3%;
  padding-left: 5%;
}
.quart-2_3 img{
  width: 100%;
}
.quart-2_4{
  width:75%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
}
.lien-AI{
  margin-top: 3%;
  font-size: 150%;
  text-align: center;
}
.lien-AI a{
  text-decoration: none;
  color: black;
  font-style: italic;
}
.lien-AI a:hover {
  text-decoration: underline;
}


/*---MAIN SWOT---*/
.swotimg {
  width: 103%;
}

.swotP{
  padding: 5%;
}
.m1{
  display: flex;
  flex-direction: row;
}
.q1{
  width:50%;
  text-align: center;
  padding: 5%;
}
.q2{
  width:50%;
  text-align: center;
  padding: 5%;
}
.m2{
  display: flex;
  flex-direction: row;
}
.q3{
  width:50%;
  text-align: center;
  padding: 5%;
}
.q4{
  width:50%;
  text-align: center;
  padding: 5%;
}

/*---MAIN SITOGRAPHIE---*/
.sito1{
  padding: 3%;
  text-align: center;
}
.sito2{
  margin-left: 10%;
}
